[2019-04-30 16:17] DavidGirsvaldas commented on #484
Had same issue, resolved by setting client "Web origins" to "*".

[2019-04-30 16:45] gianx89 commented on #550
It seems that my ids keeps signing using HMAC instead of RSA (RS256), maybe this is the problem:
![js4](https://user-images.githubusercontent.com/733323/56978589-230fdb00-6b78-11e9-8378-dbb84a23c6f5.png)

[2019-04-30 16:54] gianx89 commented on #550
Thak you for your support. I had to set the right certificate in the client settings of the IDS. otherwise it would use the default secret base signing.

[2019-04-30 16:54] #550 closed

[2019-05-02 10:46] jalchr commented on #549
Any plans for offline support ? #545

[2019-05-03 14:18] dellekappa commented on #343
Can you apply the same fix on older versions too (eg 4.3).
This is a blocking issue preventing us to use silent refresh.

Thanks!

[2019-05-03 15:08] jeroenheijmans commented on #343
@dellekappa I presume this fix won't be backported to such an old version. If you cannot upgrade, I recommend forking 4.3 and creating your own custom build with the fix.

[2019-05-04 19:22] ghostcodelover commented on #486
how to set oidc to false

[2019-05-04 20:18] koo9 opened #552 "ids4 client configuration"
what's the ids client configuration what implicit flow?

[2019-05-08 04:44] playkang opened #553 "How to get return value using 3rd party login?"
I use 3rd Party Login.

The format of the access token issuance request is as follows.

https://nid.naver.com/oauth2.0/token?client_id={client_id}&client_secret={client_secret&grant_type=authorization_code&state={state}&code={code}

If the access token request succeeds, it returns a JSON-formatted value.

It has a different value from AuthConfig provided by angular-oauth2-oidc, so I putted all the

[2019-05-08 08:53] jeroenheijmans commented on #553
You question is a wee bit hard to follow (and a block of formatted code (text) would be nicer than a screenshot), but from what I see I think you might have things backwards a bit.

Two things I notice from your URIs is:

1. You pass all parameters already in the URI, but the library should be setting them instead (grant type, secrets, etc). If your server supports it, check out the `/.well-known/

[2019-05-08 17:21] playkang commented on #553
@jeroenheijmans
Thanks in advance for the answers.
I'll give you one more basic question.
What is the function to **request a token**?
initImplicitFlow() works just like window.open().

[2019-05-08 21:57] jeroenheijmans commented on #553
That's not really easy to answer, I recommend first reading up about the implicit flow and possibly the password flow, before continuing implementation of oauth2/oidc in your app.

[2019-05-09 20:37] ddralztb opened #555 "Not able to implement silentRefresh"
Hello guys,

I've been reading the issues about the setupAutomaticSilentRefresh and tried to implement it within my project, although I'm not able to. With my current config, user is able to log in and log out, but I'm not able to refresh the token. I also checked that calling silentRefresh gets the job done, but also no success yet. Since setupAutomaticSilentRefresh, I copied a method refreshToke

[2019-05-09 20:42] manfredsteyer commented on #549
Good question. I think it will be easier, as with code flow we will support refresht tokens.

Btw: You can already trigger a token refresh by hand. There is a method, sth. like silentRefresh.

[2019-05-10 06:48] jalchr opened #556 "Only in production, "Cannot read property 'getItem' of undefined""
Here's mystack.

[code]

I'm using localStorage instead of session, like this:

[code]

 and

[code]

After checking the source, it melt down to this:
![Screen Shot 2019-05-10 at 9 44 27 AM](https://user-images.githubusercontent.com/295421/57507732-479e4c80-7308-11e9-91f1-eead9c80eaeb.png)

Somehow `this.authStorage` is `undefined` in line 1641

[2019-05-10 07:02] jalchr commented on #549
I'm using Silent Refresh already (may be I'm using it wrong).
Try it
1) Use a very small time for your access token (like 120 seconds).
2) Run your app
3) Use chrome tools to go Offline
4) Check the errors

I appreciate any guidance here

[2019-05-10 12:28] jeroenheijmans commented on #545
This seems like a bug/omission to me. To summarize/paraphrase the bug:

A solution would be for the library to check for load failures in the iframe, and possibly retry (or publish an event about the failure, and allow the user of the library to choose when to retry).

[2019-05-10 12:32] jeroenheijmans commented on #549
I think there's some confusion. There's two uses of the word "offline":

- Issue #545 talks about being offline.... from the internet. As in, physical connection problems and the like.
- The term "offline" is also used for a specific grant in openid/oauth2 that indicates the Client wants to get a refresh token (it's a confusing term when used in a browser Client, tbh)

The latter is already suppor

[2019-05-10 16:05] anubi commented on #549
I would be interested in beta'ing version 8 if possible. Happy to provide feedback and/or bug reports. I've been doing a lot of stuff with IdentityServer4 and I really want a good angular frontend using code authorization+PKCE instead of implicit grant.

[2019-05-10 19:21] boldham31 commented on #217
@MarcBellmann I'm running into the same issue that you had - the token is showing up in the URL but I'm unable to access it in the app, it just returns null. Where did you call the tryLogin() function that made it work?

[2019-05-11 03:22] jalchr commented on #549
@jeroenheijmans totally agree on the confusion.

Yes, the problem is with "offline" connection (which is 2 ways: the client might lose connection or the server is down or unreachable).
Once the access token expires (or the silent refresh is working), it tries to reach out the issuing server for renewal.
If there is no internet connection, there should be proper handling, rather than throwing error

[2019-05-11 20:00] stormdevteam commented on #492
Whats the status of PR 527?

[2019-05-13 05:25] Goonersid commented on #549
@manfredsteyer @jeroenheijmans is this coming only post angular 8 release?? I presume there would be no challenge in using the same version on angular 6 and rx 6! We're looking forward for PKCE flow and we may not upgrade to ng 8 yet.

[2019-05-13 08:20] jeroenheijmans commented on #549
Note that I have no say in this, I just try to help out by (and enjoy) supporting users of this library.

I _presume_ though that [the readme part about release cycle](https://github.com/manfredsteyer/angular-oauth2-oidc#release-cycle) still holds, and that (presumably because of personal time constraints) new major versions typically align with and require new versions of Angular and possibly RxJ

[2019-05-13 11:56] Goonersid commented on #549
@jeroenheijmans thanks for letting me know what has to be done :) really helpful... Let me see if i can fork a branch and backport as you suggested.. I could try angular 5 with v5.0.2 (of this library) with just an rxjs compat and things were smooth... Just being greedy here if the same can be assumed with this release as well :)

[2019-05-14 03:35] nisha2107 commented on #346
Hi, was anyone able to solve this issue, as I am also facing the same issue while integrating ADFS with Angular 5.
Providing response_type = 'code'
Error:  error=unsupported_response_type. The+authorization+server+does+not+support+obtaining+an+authorization+code+using+the+requested+'response_type'.+The+authorization+server+only+supports+'code'+as+the+response+type

[2019-05-14 03:40] nisha2107 commented on #52
Hi, was anyone able to solve this issue, as I am also facing the same issue while integrating ADFS with Angular 5.
Providing response_type = 'code'
Error: error=unsupported_response_type. The+authorization+server+does+not+support+obtaining+an+authorization+code+using+the+requested+'response_type'.+The+authorization+server+only+supports+'code'+as+the+response+type.

[2019-05-14 06:44] jalchr commented on #556
@jeroenheijmans any thoughts ?

[2019-05-14 06:55] jalchr commented on #489
@dennisameling  I have used the factory as your proposed. I'm still getting an error.
Any thoughts?

[2019-05-14 07:46] darbio commented on #52
I think the author doesn’t want to include support for code flow (see: https://github.com/manfredsteyer/angular-oauth2-oidc/issues/52#issuecomment-322072180). You can add in support as discussed above.

[2019-05-14 08:16] jeroenheijmans commented on #556
Afraid not, suspect it's something specific to your scenario. I recommend creating a full but minimal repro, and possibly posting it as a question on Stack Overflow so it'll get more views.

[2019-05-14 08:32] jalchr commented on #556
Yup ... I rebuilt in prod and worked !

[2019-05-14 08:32] #556 closed

[2019-05-14 20:28] ronnyek commented on #478
I guess I just feel like I want to go implicit flow, and the examples in the repo and readmes dont seem to clearly provide examples of that.

Much of my usage of this library (the more I fiddle with it) I occasionally get weird redirect loops, or places where its not even attempting to redirect to login UI at all

[2019-05-15 09:23] ducalai commented on #508
I'm exactly in the same situation as @suzukieng, i.e I want to add a 'Remember me' checkbox on the login screen which will determine the storage for authentication token.

Do I have to extend 'OAuthStorage' class and provide my implementation? or only using a factory for OAuthStorage provider is the way to go?
You deprecated setStorage method in your OAuthService, but that method will be called wh

[2019-05-15 10:17] jeroenheijmans commented on #508
Providing your own storage seems like the way to go to me.

[2019-05-17 08:06] jalchr commented on #545
Yes, a retry mechanism is needed.

[2019-05-17 08:44] #551 closed

[2019-05-17 08:44] lukasmatta commented on #551
@jeroenheijmans Thanks for explaining.

[2019-05-18 16:49] nhumblot opened #557 "Continuous integration"
Hello,

The `angular-oauth2-oidc` library does not have a CI. Using such tool could help the maintainers of this library for reviewing pull requests.

Ideally, the CI would check the build, test and linter for the library and the code sample. Right now, the master branch has test issues and linter errors, so we could first start by checking the build.

Would a contribution regarding setting a CI c

[2019-05-21 15:15] shubhamchauhan commented on #555
Any solution?

[2019-05-21 15:18] ddralztb commented on #555
Hello guys,

The problem came from my authentication provider, it was blocking the iframe which resulted in failing refresh.

Thanks.

[2019-05-21 15:18] #555 closed

[2019-05-21 16:11] lwensveen commented on #260
And what if it already breaks on this.oauthService.fetchTokenUsingPasswordFlow `Error performing password flow TypeError: Cannot read property 'toLowerCase' of null` ?

[2019-05-22 06:56] lwensveen commented on #260
For anyone wondering, I ran into this when I called `this.configureWithNewConfigApi();` inside an ngOninit, if you call it inside the constructor it works fine.

[2019-05-22 13:20] windischb opened #558 "Any way to share oauth token with custom elements?"
Hi!

In my custom elements i have the need to fetch data from an API.
How can i use the OAuth Token, which already exists in my Angular App, inside of a custom element??
Should i just use an Input Property, or are there other(better) solutions?!

br
Bernhard

[2019-05-24 03:06] rbudnar opened #559 "Prod mode Error: Cannot match any routes. URL Segment: 'connect/authorize'"
First off, I apologize if I'm in the wrong place, so thanks for your patience.

I'm using .NET Core 2.2 with Identity Server4 with Angular 7 (CLI) and v5.0.2 of this library and everything works great in development mode. I hit a login button, I get redirected to a static page on the same server (the angular SPA and the ID server are currently one and the same), I log in, and the site redirects me

[2019-05-24 06:16] jeroenheijmans commented on #559
With the current info, I'd _guess_ that it's not a bug/issue with the library, but a problem with your specific setup. So I suggest asking a question on Stack Overflow, providing steps for a minimal repro to take out the guesswork (which we'd also need to reliably help here if it _does_ turn out to be an issue with the library).

[2019-05-24 11:44] rajuldixit opened #560 "Silent-refresh.html is undefined in Angular7 (OIDC-0auth2)"
Hi, I am trying to implement oidc-0auth2 authentication in my angular7 app, authentication is working fine as I followed tutorial but while I am trying to use refresh-token, I am stucked, First of all 'silent-refresh.html' is not getting recognize.

[2019-05-24 11:45] rbudnar commented on #559
Thanks for the followup, I think you're right. I finally managed to find this issue on the angular CLI that looks to be what is going on for me: https://github.com/angular/angular-cli/issues/6757. I'll continue my troubleshooting there. Thanks!

[2019-05-24 11:45] #559 closed

[2019-05-24 11:58] rajuldixit commented on #560
@manfredsteyer
Please help.

[2019-05-27 07:13] manfredsteyer commented on #549
Yes, it's as @jeroenheijmans says. We test the current lib version only with the current Angular version. It may work with an older Angular version, but no guarantees.

[2019-05-27 07:14] manfredsteyer commented on #560
Where is your silent-refresh.html located?
What does your entry in angular.json for it look like?

[2019-05-27 09:18] rajuldixit commented on #560
Hi, Thanks for your response.

silent-refresh.html is residing next to index.html,  Somehow it is not showing me that error 'silent-refresh.html is undefined', but I am still not able to use  oauthService.setupAutomaticSilentRefresh();

My token gets expire and this above method is not calling refresh token.

here is the code :
**app.component.ts**
[code]
**and I put authConfig details in config f

[2019-05-27 15:13] manfredsteyer commented on #560
can you checkin your source code somewhere so that I can take a look?

[2019-05-28 02:10] dalelotts commented on #465
Hey @svw88, do you have a concrete example you can share?

[2019-05-28 18:01] mikelhamer commented on #254
Why is this closed? Was this implemented?

[2019-05-28 19:46] mikelhamer commented on #488
@jeroenheijmans could you point me in the direction of where one would start to develop such a PR?

[2019-05-28 20:09] mikelhamer commented on #488
@jeroenheijmans Can you point me in the direction of where to start for creating such a PR?

[2019-05-28 22:36] jeroenheijmans commented on #488
No sorry, I'd have to dive into it myself as well. Perhaps the posts above are helpful pointers?

[2019-05-29 00:02] alxv2016 commented on #209
I just wanted to say thanks @ahmadakra, I spend 2 days scratching my head on this issue finally found this thread...This should be set in the documentation honestly.  Router will not work on any call back pages if clearHashAfterLogin is not set to false.

[2019-05-29 15:15] mikelhamer commented on #488
@smainz where are you plugging in to the oauth interceptor like that in your workaround?

[2019-05-29 15:18] niemyjski commented on #549
Any details on the release?

[2019-05-29 18:09] xiananfan opened #561 "Disable nonce validation for id token for e2e tests"
Hi,

I am trying to setup e2e tests for login. Instead of actually go through the login dialog, I am trying to use "resource owner password" grant type to get the access token and id token. However, the id token got using password grant type does not contain "nonce" as one of the claims in the JWT.

In the code [here](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/master/projects/lib/sr

[2019-05-29 19:55] smainz commented on #488
@mikelhamer Are you going to test my fix with current version? I have uploaded a patched version here:
https://github.com/smainz/angular-oauth2-oidc  (branch fix/#488)

If you confirm it works, I will file a pull request.

[2019-05-30 20:34] curlyfro commented on #100
does anyone have a solution?

[2019-05-31 09:58] Emusp commented on #549
Would be lovely to see this release soon

[2019-06-03 20:33] anujgarg06 opened #562 "Question: Silent refresh using same redirect Uri?"
Hi,

I am using implicit flow (id_token) with no discovery document and  trying to setup silent refresh and I noticed that you have a different redirectURI for it where user is supposed to be redirected after authentication.
**Problem:** My Authorization server doesn't allow multiple redirect URI.
I am ok to show user a button for "Extend Session" or "Refresh Token" so I am wondering if that can b

[2019-06-03 22:21] jeroenheijmans commented on #562
I'm a little confused as to what you'd need. Could you share a minimal repro of your situation, possibly adding notes or pseudocode on what you'd _like_ to be able to do?

The apps where I use this library, I have [exactly one `redirectUri` configured](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards/blob/3cf6dde02138fb43bf44b984dda2df9bfd4da057/src/app/core/auth-confi

[2019-06-04 12:53] anujgarg06 commented on #562
Hi @jeroenheijmans ,
Thanks for quick response. My question is more about "silentRefreshRedirectUri". We can add only one redirectURI in our Auth server so we have added "http://localhost:4200/sign-in".
During silent refresh, system use "silentRefreshRedirectUri: window.location.origin + '/silent-refresh.html'" so it is failing as this is not an authorized redirect URI in our Auth server.

So, I a

[2019-06-04 14:08] jeroenheijmans commented on #562
Wow, that's awkward, that your ID server cannot be configured differently for a `prompt=none` redirect... Which ID Solution are you using?

Either way, there are solutions available, but they will certainly hurt to some degree. This library has no real easy solutions built in, as most ID Servers I know can just rely on a different URL. Some high-over options you'd have would be:

- Configure your

[2019-06-04 18:00] anujgarg06 commented on #562
Thanks @jeroenheijmans , I will try it out and we are using Dell Cloud Access Manager.

[2019-06-05 08:16] SamiiS opened #563 "CORS error discovery/v2.0/keys"
We're trying to get rid of CORS errors now and this one makes it so that we can't login and authorize with Azure AD. What to do to make it work?

We're using ionic 4/angular 7 with a .net api.
Calling on Azure AD to get tokens from the application and then sending authorization tokens with the api requests to the api.

`import { AuthConfig } from 'angular-oauth2-oidc';

export const authConfig: Au

[2019-06-05 10:18] jeroenheijmans commented on #563
Possibly a duplicate of #494?

[2019-06-05 11:22] junimohano commented on #549
any updates?

[2019-06-05 16:00] nhumblot opened #564 "Event type 'received_first_token' is never fired"
Hello,

On master branch, `projects\lib\src\events.ts` references a `received_first_token` event type.

By searching into the code, it looks like there is no place where this event is fired.

Should this event type be removed or should it be implemented?

Personally, I think it can be a useful addition, especially for [preserving state](https://manfredsteyer.github.io/angular-oauth2-oidc/docs/addi

[2019-06-06 12:28] FiReBlUe45 opened #565 "Infinity loop reload"
Hello,
I have an issue that happens only on Safari (Mac, iPad, iPhone).
After being authenticated via the implicit flow, I'm redirected to the Angular application but the browser loops infinitely in a redirect between webapp and oauthUrl but no errors on browser's console.

I use oauth2-oidc : 5.0.2 with :

[code]

I'm using the library on several projects but I have the issue only for one.
An ide

[2019-06-06 14:41] jeroenheijmans commented on #565
Hmm, little to no ideas. What comes to mind:

- Safari in incognito mode is weird with localStorage/sessionStorage, so that might trip you up
- What happens if you [enable more verbose logging](https://gist.github.com/jeroenheijmans/7dd02574b989084735457e672ae78466)?

Either way, it's a guessing game for us, as you said yourself:

The only reasonable way to find the root cause is by analyzing the

[2019-06-07 11:39] philipgyllhamn opened #566 "Doesnt load app-root on redirect in ionic app/ implicit flow doesnt return token"
Hi!

So the main problem is that i dont get an access_token from implicit flow, and i think it is because app-root component doesnt run when being redirected back to the app? because when we tested it in the web browser it worked and we were able to see that app-root was ran after the redirect.

But now when testing it on android, i am redirected back to the app via msauth://xx.xxx.xx/xxXXxxxxxX

[2019-06-10 10:01] #563 closed

[2019-06-10 10:02] SamiiS commented on #566
bump

[2019-06-10 10:18] jeroenheijmans commented on #566
It might be more of a question (possibly even about ionic?), than an issue with this library? I recommend asking a question on Stack Overflow, where they would need (as we do, here) a minimal repro.

[2019-06-11 01:04] namnhcntt commented on #565
I faced same issue, but in chrome, angular 7, latest angular-oauth2-oidc. Sometime the network is poor, this issue happened.

[2019-06-11 07:00] philipgyllhamn commented on #566
SOLVED! We switched to InAppBrowser, we followed a part of this tutorial https://developer.okta.com/blog/2017/08/22/build-an-ionic-app-with-user-authentication

[2019-06-11 07:01] #566 closed

[2019-06-11 14:35] abhishekhingu opened #567 "SSO using on-premise ADFS Solution"
Hi,

I have created one Angular 7 App. this application servers through IIS using reverse proxy.

for e.g application url https://domain.com, Angular App serve through ExpressJS App run on same server prot:xxxx.

I have configured the reverse proxy on IIS so every request serve using reverse proxy 127.0.0.1:xxxx.

Now my Angular App calling ExpressJS Web API to fetch some resource. Express API doe

[2019-06-11 15:16] Isidroca commented on #549
waiting! :)

[2019-06-11 19:02] jeroenheijmans commented on #567
An interesting situation, but more of a consultancy/support question than an actual issue with the library, it seems?

If you have need for a peer review or help with implementing a complete setup, I recommend asking a colleague or getting a consultant on board. If you have a specific question or problem, you need to be more specific about it and provide a minimal repro please. (Also, if you have

[2019-06-13 11:14] lwensveen commented on #549
https://github.com/manfredsteyer/angular-oauth2-oidc/pull/568

Behold.

[2019-06-13 12:44] sauravpandit commented on #451
I am also facing the same issue. I am getting
OAuthSuccessEvent {type: "token_received", info: null}
first and then after sometime I am getting
OAuthErrorEvent {type: "silent_refresh_timeout", reason: null, params: null}
It is confusing.

[2019-06-13 14:25] Emusp commented on #549
Just for info. I upgraded my project to Angular 8, and oauth is still working fine.

[2019-06-15 19:44] sauravpandit commented on #451
I have fixed it by putting it in assets array for both build and test array

`"build": {
          "builder": "@angular-devkit/build-angular:browser",
          "options": {
            "outputPath": "dist/angular-auth",
            "index": "src/index.html",
            "main": "src/main.ts",
            "polyfills": "src/polyfills.ts",
            "tsConfig": "tsconfig.app.json",
            "as

[2019-06-18 20:21] pklejnowski commented on #549
@manfredsteyer Any info when we can expect a version with support of Authorization Code + PKCE?

[2019-06-19 08:38] zentoaku opened #570 "OpenID without discovery document"
Hi,

I've a problem to implement OpenID Connect flow using this library with the auth server available in my company. First of all the server doesn't provide Discovery Document.
Second this is the flow described in our docs:

1. User arrives at https://application.company.com
2. User does not have a session with this application. User is redirected to: https://federate.company.com/as/authorization

[2019-06-19 08:48] jeroenheijmans commented on #570
Based on what you described, assuming nothing else:

- Tokens won't be stored in `localStorage`, because the default is `sessionStorage`
- If you want an id_token, you should _request_ it I think (`responseType: 'token id_token' iirc)

If that doesn't help, I'm afraid you'd need to provide us with a repro of your scenario. For me what you describe is working just fine, you can see how I'm handling

[2019-06-19 08:56] zentoaku commented on #570
Forgot to mention: `{provide: OAuthStorage, useFactory: localStorageFactory, deps: [LocalStorageRefService]}`

According to this page: https://medium.com/@darutk/diagrams-of-all-the-openid-connect-flows-6968e3990660 if I will request token id_token I will get them at the same time which isn't
 exactly matching the flow.
I guess I should use the _code_ flow to achieve something like it but not matt

[2019-06-19 09:04] jeroenheijmans commented on #570
[Password and Implicit Flow](https://github.com/manfredsteyer/angular-oauth2-oidc#features).

Authorization Code + PKCE [is in progress](https://github.com/manfredsteyer/angular-oauth2-oidc/issues/549#issue-438052820).

[2019-06-19 10:15] ChrisCherryfarmer opened #571 "Sample-Auth-Server issue - silent refresh not wokring in IE11"
Hey there,

i tried to set up the silent refresh as it is in the documentation in our project. (I know there are several issues for this)
However i stumbled across some issues with Internet Explorer 11.

At first i thought my setup was wrong, but then i started up the sample application with the silent refresh in this repo. I had the same issue.

It works fine in every browser i tested except IE11

[2019-06-19 10:43] #570 closed

[2019-06-24 16:40] CMeyer19 commented on #549
Is there an ETA for this yet?

[2019-06-25 14:49] alexfromgalax87 opened #572 "tryLogin - without discovery document - failing"
Hello,

I try to implement the oidc without discovery document therefor i use the tryLogin - method:

`private configureOIDC() {
    this.oauthService.configure(OIDCconfig);
    this.oauthService.tokenValidationHandler = new JwksValidationHandler();
    this.oauthService.tryLogin();
  }`

This is my OIDC config:

`export const OIDCconfig: AuthConfig = {
  issuer: 'https://xxxxxx.com/xxxx',
  redir

[2019-06-25 15:20] jeroenheijmans commented on #572
Currently, only password and implicit flow are supported. You'd need to either change the responseType, or switch to a different library that does support code flow.

[2019-06-25 15:25] alexfromgalax87 commented on #572
Is there any working example for implicit flow without discovery documents?

[2019-06-25 15:41] alexfromgalax87 commented on #572
The issue is not about 'responseType', i change it back to 'token'.

[2019-06-25 16:12] jeroenheijmans commented on #572
Hmm, in that case perhaps #499 contains your solution?

[2019-06-25 16:32] alexfromgalax87 commented on #572
No it does not. Again : forget about the responsetype issue. Is there any working example for implicit flow without discovery documents?

[2019-06-26 12:28] jboeijenga commented on #549
any updates?, Angular 8 is released for a while now..

[2019-06-27 07:44] Gabyche commented on #366
Same question here :)

---
Plus, after tests it seems "setupAutomaticSilentRefresh()" is not kept true if we change/reload page.
I would like to know, if I set setupAutomaticSilentRefresh() in AppComponent (let's say the root), is there a way to maintain it through components ? My component have their oauthService injected through constructors !
But this is bonus, ask AndHain first :)
---

Thanks!

[2019-06-27 08:23] Gabyche commented on #366
I have the answer of my question: needed to configure setupAutomaticSilentRefresh() after my call to tryLogin() so that it herits down to all my components.
Been a day and half on this and figure it out at the second I post my question!
U guys are genius.

[2019-06-28 07:54] katerss1 opened #574 "How to set a custom access token?"
Hey Jeroen,

I'm really stuck with this problem. Can you please help me out?
https://stackoverflow.com/questions/56792637/is-there-a-way-to-set-a-custom-bearer-access-token-within-the-angular-oauth2-oi

Bedankt voor je hulp / thanks for you support !

Sincerly,

Stefan

[2019-06-28 08:15] katerss1 commented on #574
Solved it myself, this solved it for me:
this.oAuthStorage.setItem('access_token', YOUR ACCESS TOKEN);

[2019-06-28 08:15] #574 closed

[2019-07-01 09:22] NeelBhatt opened #575 "Custom domain url for identity server"
Thanks for making this awesome package.

We are having setup where Angular communicates with identity server4 and it works well.

Now we want to add support for custom domain and because of that identity server url might be anything, for example account.google.com

We can set identity server url using below in oauthconfig file

// Url of the Identity Provider
  issuer: 'https://steyer-identity-ser

[2019-07-01 10:27] jeroenheijmans commented on #575
Could you show the code for how you bootstrap the library? Everything depends on that.

If you take [my sample repository](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards/blob/3cf6dde02138fb43bf44b984dda2df9bfd4da057/src/app/core/core.module.ts#L32), I provide the `AuthConfig` object runtime. Mine is a static object, but you can replace it with a runtime value.

Note

[2019-07-01 11:38] DeepMaze commented on #572
I have the same issue ..

[2019-07-01 11:51] WadimMakarenko commented on #572
a working no discovery documents example would be nice !

[2019-07-01 13:02] lwensveen commented on #549
I've tried implementing subtlecrypto, but it seems there's no way to get this to work. Has issues with recognizing what algorithm is being use and you get errors like:

`NotSupportedError: Algorithm: Unrecognized name`

[2019-07-01 13:04] jeroenheijmans commented on #572
Here's [a branch with working example in my sample repository](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards/compare/feat/configure-without-loading-discovery-document). If you check out that branch, `npm ci`, and `ng serve`, you should be up and running with the demo identity server (username "alice" with password "alice" should work).

The diff shows what the basic

[2019-07-01 13:56] Rohit14rr opened #576 "App Redirecting to Provider"
I have used angular-oauth2-oidc(implicit flow) for my angular 7 application. But after successfully authentication on third party provider , I get redirected to my application, and my application page opens up but again there is a redirect to the third party and this continues.
I've  used sessionChecksEnabled: false and cleaned all the cookies before logout.

[2019-07-01 14:03] jeroenheijmans commented on #576
Doesn't sound like an _issue_ with the library, you might have better luck asking a question on Stack Overflow, where there's more people answering questions? In either case, there or here, a repro of your scenario would be needed, otherwise we can only guess at the cause.

[2019-07-01 14:27] Rohit14rr commented on #576
I've created below service :
import { OAuthService, JwksValidationHandler } from 'angular-oauth2-oidc';

export class OneService {
    constructor(private oauthService : OAuthService){
    }

    public  configureWithNewConfigApi():void {
        this.oauthService.configure(authConfig);
        this.oauthService.tokenValidationHandler = new JwksValidationHandler();
        this.oauthService.loadDi

[2019-07-02 09:01] manfredsteyer commented on #549
I had to postpone it, but I've reserved some time for it in July.

The good message is, everything works with the current version (even though there are peer dependency warnings which will go away when version 8 lands).

[2019-07-02 14:15] lwensveen commented on #549
@manfredsteyer I've tried implementing the crypto api, but I'm having a hard time with encoding, decoding and verifying. Having issues with arraybuffers.

I messed around in a branch that I branched from my upgrade-angular-8 branch in my own fork. Dunno if this might be handy for you or someone else.

[2019-07-02 17:20] manfredsteyer commented on #549
This is great! Thanks for the info. Does it work? I guess, we need something like this in this library. I'm thinking about another tokenValidationHandler which uses the browser's native crypto api.

What do you think?

[2019-07-03 07:22] lwensveen commented on #549
@manfredsteyer No it doesn't. Like I said, the crypto api uses arraybuffers for everything and I can't get those to decode properly. Might be doing it wrong though. First I tried the functions described here: https://developers.google.com/web/updates/2012/06/How-to-convert-ArrayBuffer-to-and-from-String

Later I used https://developer.mozilla.org/en-US/docs/Web/API/TextEncoder

Seems like a fine i

[2019-07-03 08:45] jeroenheijmans commented on #549
Ad using subtle crypto, see also: https://github.com/damienbod/angular-auth-oidc-client/issues/26

[2019-07-03 08:50] AndreKraemer commented on #549
We're looking forward to the update. Is there anything that you need help with @manfredsteyer ?

[2019-07-03 08:53] lwensveen commented on #549
@jeroenheijmans This code is no longer in there, but I can see if I can get it to work.

[2019-07-04 06:50] danratoiu commented on #100
Hello everyone,
Me and my team are facing the same issue and we struggle to find a solution. As far we decided to replace the implicit flow with the password flow and to use a custom login form. This seems to be a solution for the moment for this issue. But now we are facing a different problem that the single-sing on is not working. Does anyone have a solution, or at least to give me a link to wh

[2019-07-05 09:54] chlegou commented on #135
i have tried that, but didn't work, it always makes the /certs call, and returning the cors problem.

[2019-07-05 20:37] nashvillenarayan opened #577 "Silent Refresh multiple clients"
Silent Refresh multiple client Ids ,
We are currently implementing single-spa framework ,with 4 different applications having different client Ids . We are using keycloak identity server , and was able to access the resources across multiple applications . We are getting wrong audiences error (i guess it is when it is trying to validate the token ) even though the user has access to all the client

[2019-07-06 16:33] NeelBhatt opened #578 "Setting custom domain using Angular oAuthservice and Identity server 4"
Can someone answer my question on stackoverflow please?

https://stackoverflow.com/questions/56908120/setting-custom-domain-using-angular-oauthservice-and-identity-server-4

[2019-07-06 20:41] NeelBhatt commented on #575
@jeroenheijmans - Thanks for the answer. I have written a SO question, if you can help? https://stackoverflow.com/questions/56908120/setting-custom-domain-using-angular-oauthservice-and-identity-server-4

[2019-07-07 17:17] volkanokcu commented on #549
-Support for Code Flow + PKCE to align with the current Best Practice document
I am waiting for this feature. Any date for relase v8?

[2019-07-10 12:00] bschnabel commented on #549
Me two.

@volkanokcu If you can't wait at all you can use this fork https://github.com/bechhansen/angular-oauth2-oidc but it is still at version 4.0.1

I also need Support for Authorization Code Flow for a current project and unsure if to wait for the next release of this library or if I'll have to use the one linked above.

@manfredsteyer Can you make an estimation on when the relase could posibl

[2019-07-10 12:05] bschnabel commented on #19
it's going to come. see https://github.com/manfredsteyer/angular-oauth2-oidc/issues/549

[2019-07-10 23:26] Matt-J-Hosking commented on #494
They seem to have enabled CORS for their jwks endpoint now. Best to switch over or get caught out like we did with a cached copy of the old keys.

[2019-07-11 07:13] ChrisCherryfarmer commented on #571
Any updates here?

[2019-07-14 08:45] ggjersund commented on #450
Noticed something with your sample application. It usually takes a few seconds processing the token. As your application uses home as the wildcard route, and not 404 not found, I noticed it takes some time before the user is "loaded". Could this be what causes my 404 route from displaying until it is loaded? Any idea how one can prevent this?

[2019-07-15 08:07] jeroenheijmans commented on #450
I'm not sure if I understand what you're trying to say or ask?

It's correct that processing the token (as well as loading the oidc document and trying the implicit flow) takes several 100s to 1000s of milliseconds. I even added some `setTimeout` calles to make it even more apparent that things happen _asynchronously_.

Originally, you wrote the issue here as a "question". If it turns out you have

[2019-07-15 20:33] StephanKuehn opened #580 "loadUserProfile will return roles of last user if current user has no roles assigned"
This seems to be related to issue #514.

I am using your library against Identity Server 4 using resource owner password grant flow.
Identity Server is running against ASP.Net Core Identity.

I have two roles, user and administrator.

User A is assigned to roles user and administrator.
User B is assigned to roles user.
User C is assigned to no role at all.

If User A logs on, I can see the user in

[2019-07-15 21:33] StephanKuehn commented on #580
Pardon me, but it seems that this is a bug that originates in the following two lines in loadUserProfile():

const existingClaims = this.getIdentityClaims() || {};
...
info = Object.assign({}, existingClaims, info);

if info is missing a claim that is present in existingClaims, i.e. stored in oAuthStorage.getItem(''),
the result will contain a claim no longer present on the current user.

[2019-07-15 21:34] StephanKuehn commented on #580
The workaround seems to be to call sessionStorage.removeItem('id_token_claims_obj') or whatever storage is configured for the library before calling loadfUserProfile().

[2019-07-16 07:59] ggjersund commented on #450
@jeroenheijmans In your example, you have a yellow box which is the wildcard component (the Fallback component). Whenever I use implicit flow, and I get returned to the Angular application. I want to prevent displaying this fallback component for the x-number of milliseconds it takes to process the token.

You said earlier that this doesn't happen in your seconds, but I've tested and it does appea

[2019-07-16 08:44] ggjersund commented on #450
I solved it myself using a resolver on the wildcard to check the isLoaded status. Seems to work now.

[2019-07-16 17:06] JWBrownie commented on #534
I am having a similar issue, despite having my OAuthStorage to localStorage or even when trying with SessionStorage the only value being stored is nonce, everything else is not being set up and I am trapped in an infinite loop, I can't find why is it doing this. I am drilling down to the angular-oauth2-oidc files to see what can I find, any advice?

[2019-07-16 23:07] JWBrownie commented on #352
I really like your solution, but it doesn't work I am following all the steps but I think I am confused in the next:
[code]
Do you have a working example of your solution? Or any advice?
Thank you very much!

[2019-07-17 05:06] jamra commented on #352
From briefly reviewing this code, I believe ReplaySubject takes a parameter in its constructor. You should put new ReplaySubject<boolean>(1).

I'm not sure, but I always believed that it was a compile time error if you didn't put a number in the constructor of a replay subject. But more than that, if you just think about it, if you don't allocate the spot for the replay subject, it may not be able

[2019-07-17 12:30] kitsunekyo opened #581 "URI malformed - encrypted it_token response"
we're currently working on implementing authentication through oidc with an existing WSO2 identity server (external). the customer provided us with a clientID but we're facing issues with the received `id_token`

an example token would be (token is unusable, so dont worry about that)

[code]

when receiving this token, the whole package perfectly decodes the header section, but breaks with an `URI

[2019-07-17 17:50] jeroenheijmans commented on #581
The token should be a valid JWT (or JWE?), right? If I run it through [jwt.io](https://jwt.io/) I get a signature validation error and no decoded payload at all:

![image](https://user-images.githubusercontent.com/1590536/61397960-4b7fb980-a8cb-11e9-9ee6-197e4cf19034.png)

Possibly because the signature is not correct, and the payload asymetrically encrypted?

I'm not sure if this library supports

[2019-07-17 19:47] #492 closed

[2019-07-17 19:57] #516 closed

[2019-07-17 20:01] #489 closed

[2019-07-18 07:26] kitsunekyo commented on #581
yes. your points are 100% correct. it makes no sense to handle the id_token clientside. if the wso2 team won't budge with the encryption, the id_token is of no use and we're probably better off with an access_token.

i was merely wondering if it would make sense to handle this case through a more descriptive error type than URI Malformed.

the other thing is that when using `responseType: 'token'`

[2019-07-18 13:04] thxmike opened #582 "Warnings with Angular 8 and above application"
The following warnings shows up with recent versions of angular

npm WARN angular-oauth2-oidc@5.0.2 requires a peer of @angular/common@>=6.0.0 < 8.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN angular-oauth2-oidc@5.0.2 requires a peer of @angular/core@>=6.0.0 < 8.0.0 but none is installed. You must install peer dependencies yourself.

[2019-07-18 13:07] jeroenheijmans commented on #581
Ah, yeah, I guess a try/catch setup with a more descriptive error wouldn't hurt on that specific bit.

[2019-07-18 19:37] manfredsteyer commented on #549
Version 8 is out:
https://github.com/manfredsteyer/angular-oauth2-oidc/releases/tag/8.0.0

We have Code + PKCE + Token Refresh now.

Looking forward to your feedback.

Getting rid of the big crypto api when not supporting IE is still an open task.

@lwensveen is working on it (see above). Can anyone help him with the current show stoppers.

[2019-07-18 19:39] Isidroca commented on #549
Welcome!

[2019-07-18 19:41] manfredsteyer commented on #582
the new version is out and it resolves this.

[2019-07-18 19:41] #582 closed

[2019-07-22 06:51] maufl commented on #572
Try setting `oidc: false` and the `loginUrl` in the auth config.

[2019-07-22 18:18] coronary commented on #465
I'm having the same issue with seeing the return token in the url, but when checked with hasValidAccessToken() it returns null. I tried the solution from @svw88 but my token still ends up null. Commenting out my canactivate authguard successfully redirects and I'm able to reference my token, but then I have no authguard which is a problem.

[2019-07-22 20:10] svw88 commented on #465
Hi.

@coronary Are you referring to your initial navigation having the authgaurd? Without any user action? It sounds like your navigation is being hit before the url has been processed. The easiest way to confirm this is to check both your authservice by putting a debugger where hasvalidaccesstoken is called. One way of working around this is to have an ngif="authservice != undefined" or a variant

[2019-07-23 14:45] coronary commented on #465
Thank you @svw88 ! My app redirects correctly now! The problem seemed to be in my app.component.ts. In your example you have the arrow function with loadDiscoveryDocumentAndTryLogin to make sure the user has a valid token before routing which solved my issue.

[2019-07-24 09:24] SalkiDixit commented on #258
@manfredsteyer hi i am also facing same kind of error
StaticInjectorError(AppModule)[OAuthService]:
  StaticInjectorError(Platform: core)[OAuthService]:
    NullInjectorError: No provider for OAuthService!

kindly assist.

[2019-07-24 09:50] #581 closed

[2019-07-24 13:48] heyarny opened #586 "Refresh access_token with refresh_token?"
I'm using the general oauth2 with username/password and custom grant_type flow to sign in, which works quiet well, but I see the library doesn't refresh the access token?

Am I missing something here or is this a missing feature?
I mean it's part of oauth2 with grant_type of "refresh_token".

[2019-07-24 14:09] jeroenheijmans commented on #586
It's a bit hard to follow your question, could you make a minimal repro (e.g. on StackBlitz) with your setup?

I gather you're using the Resource Owner Password flow? I'm not sure if automatic refresh is supported, you might need to trigger this yourself. Not sure.

Either way, have you checked [these docs](https://manfredsteyer.github.io/angular-oauth2-oidc/docs/additional-documentation/refreshin

[2019-07-24 14:59] junimohano commented on #549
@manfredsteyer
when will you update CHANGELOG.md ?

[2019-07-24 15:31] louismagandlm commented on #466
I've been using Implicit Flow and with your last update @manfredsteyer , I wanted to switch on the more secure Authorization Code Flow and I met this error... Cannot go further.

Even the work around from dec 2018 don't work.

[2019-07-24 16:29] SalkiDixit commented on #218
@dylandechant Hi, I am stuck while implementing silent-refresh, I am not able to do this.
Would you please assist silent-refresh.

[2019-07-24 19:10] heyarny commented on #586
https://oauth.net/2/grant-types/refresh-token/

I’m talking about this.
This is not supported as far as I could see.

[2019-07-24 19:15] heyarny commented on #586
I’ve found an older issue which was closed with a reason, because it’s not secure to store refresh tokens on the client.
But I’m not sure whether it is the responsibility of the library to decide what to use and what not. If you want to support oauth2 standard in all its flavors, then this is simply a missing feature.

[2019-07-24 19:38] leonardochaia opened #587 "Angular 8 APP_INITIALIZER Timeout has occurred"
**Describe the bug**
`Timeout has occurred` is thrown when attempting to perform an HTTP call on an Angular `APP_INITIALIZER` most likely due to changes from #515
Find below a Stackblitz reproducing the issue:
[Stackblitz example](https://stackblitz.com/edit/angular-kmxgkc?file=src/app/app.module.ts)

**To Reproduce**
Steps to reproduce the behavior:
1. Open [Stackblitz example](https://stackblitz

[2019-07-25 07:23] linjie997 opened #589 "TimeoutError when making a request without a token"
**Describe the bug**
With the latest release, 8.0.0, when I make a simple request while I'm not authenticated yet, the request does not start and it gives a TimoutError:

`Error: Uncaught (in promise): TimeoutError: Timeout has occurred
    at resolvePromise (zone.js:852)
    at resolvePromise (zone.js:809)
    at zone.js:913
    at ZoneDelegate.push../node_modules/zone.js/dist/zone.js.ZoneDelegat

[2019-07-25 14:27] PrashantShrimal commented on #494
I am totally new in OIDC and need to use OIDC with Azure active directory.  Does any one have a working example where no Identity server is required. I tried Mores's example but it also need a 'PRIVATE_PROXY_SERVER'.

[2019-07-25 17:42] manfredsteyer commented on #589
Thanks for this info and this great error description.

It should work now with the version 8.0.2 which just landed on npm.

If not, feel free to reopen this issue.

[2019-07-25 17:42] #589 closed

[2019-07-25 17:44] manfredsteyer commented on #587
Thanks. Please see #589 for the solution.

[2019-07-25 17:44] #587 closed

[2019-07-25 17:49] manfredsteyer commented on #586
Yes, according to the specs, refresh_tokens are not allowed within the browser. However, beginning with version 8 of this library, we support code flow+pcke and for this flow, the current [best practices document](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-13) proposes that one can use refresh_tokens when they take care about several things.

B/c of this, refresh_tokens are suppo

[2019-07-25 17:59] manfredsteyer commented on #580
Thanks for this info. ``id_token_claims_obj`` should be overwritten with the user C's claims when they login. Is there an id_token for user C?

[2019-07-25 18:18] leonardochaia commented on #587
Cool thanks. @manfredsteyer where's the code that fixes it?
I don't see any new PR nor commit with related changes.

[2019-07-26 11:49] RBilly opened #590 "waitForTokenInMsec should be optional"
**Describe the bug**
I was using aungular-oauth2-oidc lib with version 8.0.1 since a few days, suddenly my build failed because of this new field "waitForTokenIMsec" which is required.

**Expected behavior**
 Since there is a default value for this field, I think it should be optional.

Thanks for your hard work !

[2019-07-26 14:00] leonardochaia commented on #587
Excuse me, @manfredsteyer can you point me to the code that fixes this issue since I don't seem to find it in the repository.
**NPM version do not match the code version on GitHub**

[2019-07-27 12:00] manfredsteyer commented on #590
Thanks for pointing this out. It's solved now.

[2019-07-27 12:00] #590 closed

[2019-07-28 08:56] mrrobot09 commented on #501
@westlakem i am having some problem regarding requesting oauth2 api with angular .
always getting error of unauthorized
can you help me in this regard?
thanks

[2019-07-30 19:37] westlakem commented on #501
@mrrobot09 I would need much more context, and the last time I dealt with this was months ago... Not sure how much help I would be.

[2019-07-31 20:05] mdmoura opened #591 "API resource url is added in discover document url. Any idea why?"
On an Angular 7 Client application I have the following:

[code]

When running the application I get the following error:

[code]

Where `https://localhost:5003/v1.0` is basically the url of the API resource.

Any idea why what is happening?

[2019-07-31 20:25] jeroenheijmans commented on #591
Hmm, that shouldn't happen. But it's being triggered by code that we're not seeing... no where in your sample does the string "localhost:5003" appear, and it _is_ coming from _somewhere_ in your application.

I recommend either making a full (but minimal) repro, or otherwise debugging some more (e.g. load an unminified version of the library and place a breakpoint in `loadDiscoveryDocument`.

[2019-07-31 23:44] mdmoura commented on #591
@jeroenheijmans I found out the problem. I had an HTTP interceptor adding a BaseApiUrl to every HTTP requests ... Solved it now. Thank you.

[2019-07-31 23:44] #591 closed

[2019-08-01 10:20] bschnabel opened #592 "Preserving state (url) with codeFlow"
Hello,

I just updated to version 8.0.4 of the app and changed from implicitFlow to CodeFlow. Super cool that this feature made it to this library!

Now I would like to implement this: https://manfredsteyer.github.io/angular-oauth2-oidc/docs/additional-documentation/preserving-state-(like-the-requested-url).html however I'm not sure if this actually works with the current version of the app when u

[2019-08-01 10:45] jhilscher opened #593 "OAuthResourceServerConfig: customUrlValidation not used when allowedUrls not set"
**Describe the bug**
[code]
1: The customUrlValidation function is not being called unless allowedUrls is definied.
2: When allowedUrls and customUrlValidation  are definied, only customUrlValidation  is used to verify the urls

**To Reproduce**
Use the resourceServerConfig from above.

**Expected behavior**
1: customUrlValidation should be used, even if allowedUrls is null/undefined.
2: if both c

[2019-08-01 10:58] bigozzi-inspect opened #594 "tryLoginCodeFlow with HashLocationStrategy"
![image](https://user-images.githubusercontent.com/44258302/62287986-a385f680-b45b-11e9-9586-17ee1fabc4d3.png)

The screen shows like this line of code `this.parseQueryString(window.location.search)` can't work with [HashLocationStrategy ](https://angular.io/guide/router#appendix-locationstrategy-and-browser-url-styles) because query string is inside `windows.location.hash` rather than `window.loc

[2019-08-01 11:16] bigozzi-inspect commented on #594
This is a ugly fix

`

    public tryLoginCodeFlow(): Promise<void> {

        const parts = this.parseQueryString(window.location.search || window.location.hash.split('?').pop())

        [...]
    }
`

[2019-08-01 11:19] jeroenheijmans commented on #594
Thx for sharing! But your issue is really rather hard to follow. Could you please elaborate, (is it a bug? a question? could you create a minimal repro? what is the expected vs actual outcome after a set of steps to reproduce?).

[2019-08-01 11:25] jeroenheijmans commented on #592
That does sound like something that should be supported, so if it's missing we'd probably need to add it...

(I have no thoughts yet whether this is a bug, or if it requires additional config or setup from user's side.)

[2019-08-01 11:37] bigozzi-inspect commented on #594
Hi @jeroenheijmans, i have edited bug description and fix comment, i hope now it's more comprensible!

[2019-08-01 11:44] bschnabel commented on #592
My impression is that either it has been forgotten to implement together with CodeFlow in Version 8, or the docu from my first link above needs a little update. Correct my if I'm wrong! Probably @manfredsteyer could give a hint on that?

[2019-08-01 14:51] mdmoura opened #595 "Redirect to page after login in Angular Guard"
I have the following angular-oauth2-oidc configuration (and I am using Identity Server 4):

[code]

And I created the Angular's 7 Guard:

[code]

If I try to access a protected route without being authenticated I am redirected to login.

After successful login I am redirected to Angular's home page but not to the protected route I tried to access ...

How to get redirected, after login, to the pro

[2019-08-01 14:57] jeroenheijmans commented on #595
You could see if [my example implementation](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards/blob/fa91ad3945fa6fd9ed84fc89eaddd69c95630f83/src/app/core/auth.service.ts#L146) for this feature is useful to you?

[2019-08-01 19:25] mdmoura commented on #595
@jeroenheijmans Yes, and I have been trying your Auth Service. I am not sure why but when I click to access the protected route I am not able to access the page even if I am authenticated. I am trying to figure it out ...

The Auth.Service I am using, based on yours and using Core Flow + PKCE is:

[code]

The Guard I am using is [AuthGuardWithForcedLogin](https://github.com/jeroenheijmans/sample-a

[2019-08-01 19:44] mdmoura commented on #595
@jeroenheijmans One errorI have been trying to solve is when, after login, I try:

    this.authService.isAuthenticated$.subscribe(res => console.log(res));

I get the error:

    Error performing password flow
    TypeError: null is not an object (evaluating 'req.url.toLowerCase')

[2019-08-02 06:30] jeroenheijmans commented on #595
Thx for the extensive info, that helps with investigating.

I haven't checked the details yet, but you might be running into #592?

When I get the time I will try to update my sample to use code flow as well.

[2019-08-03 14:08] manfredsteyer commented on #594
Thx for this info. According to the specs, code flow transports the code in the querystring. However, there is this additonal spec, that allows us to vary the the response_mode to hash:

https://openid.net/specs/oauth-v2-multiple-response-types-1_0.html

I guess, we should look into it for the next version.

[2019-08-03 14:09] manfredsteyer commented on #594
Btw: Could be a nice PR ...

[2019-08-03 14:15] manfredsteyer commented on #592
Yes, this options object is currently not supported for code flow, as most of it's properties are deprecated meanwhile. The alternative is to use events [1] and this.oauthService.state.

Can you check this please?

Next version: In order to prevent confusion, we should throw an exception or write a warning to the console, if code flow is used together with this options object. Perhaps someone care

[2019-08-03 14:18] manfredsteyer commented on #593
Thanks for pointing this out.

So, the quick fix is to set allowedUrls to an empty array even if the customUrlValidation does not need it.

Next version: The proper fix is, to do it as described by you

[2019-08-04 09:19] #316 closed

[2019-08-04 09:21] jeroenheijmans commented on #330
Sorry no one responded, your issue fell through the cracks I guess.

Could you either tell us how you solved it, or retry with the latest version 8? If it's still an issue we could try to investigate, otherwise it might be good to close the issue until it pops up again for someone.

[2019-08-04 09:23] #343 closed

[2019-08-04 09:24] jeroenheijmans commented on #346
With [the release of version 8](https://github.com/manfredsteyer/angular-oauth2-oidc/releases/tag/8.0.0) Code flow is supported.

[2019-08-04 09:24] #346 closed

[2019-08-04 09:26] jeroenheijmans commented on #352
Seems there's various liked solutions to the original question in this issue. Going to close it - let us know if this issue is still open (or create a new issue if you're having a different scenario).

[2019-08-04 09:26] #352 closed

[2019-08-04 09:27] #355 closed

[2019-08-04 09:28] jeroenheijmans commented on #361
Original question seems to have several good solutions and workarounds from follow-up comments. Let us know if there's still an open issue and we could reopen and investigate further!

[2019-08-04 09:28] #361 closed

[2019-08-04 09:28] #362 closed

[2019-08-04 09:29] jeroenheijmans commented on #364
Reading back it seems there's not too much left to do within this library? Let us know if we should reopen the issue, if there's still something else to be done here....

[2019-08-04 09:29] #364 closed

[2019-08-04 09:31] jeroenheijmans commented on #373
I'm no expert on PWA's, but based on:

I would presume we could for now close this issue @barnold89 ?

[2019-08-04 09:33] jeroenheijmans commented on #374
I think for simplicity's sake it might be good to follow the advice posted by last two commenters, and not support this out of the box. I think as OP suggests "implementing your own interceptor" is the way to go here.

Closing this issue for now. Let us know if there's still reason to re-open it!

[2019-08-04 09:33] #374 closed

[2019-08-04 09:34] jeroenheijmans commented on #375
Closing this issue for now, please let us know if you've created a minimal repro and if it still turned out to be a bug with the library!

[2019-08-04 09:34] #375 closed

[2019-08-04 09:36] jeroenheijmans commented on #376
Hi @bpeynet, sorry you never got a response from anyone for such a detailed issue.

I'm currently going through all old issues in a "clean up" round. Could you let us know if this problem still persists, possibly test with the latest version of Angular and this library?

[2019-08-04 09:36] #377 closed

[2019-08-04 09:36] #378 closed

[2019-08-04 09:37] #381 closed

[2019-08-04 09:38] jeroenheijmans commented on #383
Going to close the issue for the moment, as we have no reproducible scenario yet to debug this with. Please notify us if there's a repro available and we could reopen the issue!

[2019-08-04 09:38] #383 closed

[2019-08-04 09:41] jeroenheijmans commented on #386
Aye, think it's not possible, as you mentioned.

Updated the title slightly, to reflect the fact that this is about the iframe silent refresh thingie.

Tempted to leave this issue open, as it might be useful to create an interception point to do this after all. Would need a PR though...

[2019-08-04 09:42] jeroenheijmans commented on #387
Going to close the issue for now, let us know if you have a minimal repro and we can reopen the issue!

[2019-08-04 09:42] #387 closed

[2019-08-04 09:44] jeroenheijmans commented on #392
Feel like the original question was answered, and/or followed up in the other threads? Can we close this issue, keep our issues list cleaned up a bit?

[2019-08-04 09:45] jeroenheijmans commented on #394
Apologies, but the issue is really hard to understand. Please try to edit your post, fix the formatting, and add some explanation. Without it it's really too hard to help.

[2019-08-04 09:45] #394 closed

[2019-08-04 09:47] jeroenheijmans commented on #396
Hoping my linked example helped out! If not, please post a minimal repro for the issue and we can reopen and further look into it!

[2019-08-04 09:47] #396 closed

[2019-08-04 09:48] jeroenheijmans commented on #400
Haven't heard back, so presume it was resolved via other channels? Let us know if there's still an issue (and provide a minimal repro so we can investigate), and we can reopen the issue!

[2019-08-04 09:48] #400 closed

[2019-08-04 09:57] jeroenheijmans commented on #403
Sorry @bvteja no one ever got to respond. Did you ever solve the issue? The `silent-refresh.html` file you can adjust at your leisure of course, if that helps.

Could you perhaps post a minimal repro (e.g. a stackblitz example) where this problem occurs? Or could we close the issue?

[2019-08-04 09:59] jeroenheijmans commented on #404
Going to close this as a duplicate of #392 - let us know if it's somehow different and we could of course reopen the issue!

[2019-08-04 09:59] #404 closed

[2019-08-04 10:00] jeroenheijmans commented on #406
Let us know if there's still an open issue, and we can re-open things. (Please do provide a minimal repro / some code to demonstrate the issue.) Cheers!

[2019-08-04 10:00] #406 closed

[2019-08-04 10:03] jeroenheijmans commented on #407
Alas, this response type is not supported with this library. Sorry for the late response!

Let others know if you found a resolution (with this library, or another) - or let us know if we should reopen the issue for something.

[2019-08-04 10:03] #407 closed

[2019-08-04 10:04] jeroenheijmans commented on #409
Did the follow-up comments give enough solutions and workarounds? Or should the issue remain open?

[2019-08-04 10:04] #411 closed

[2019-08-04 10:08] jeroenheijmans commented on #412
You could check [my sample repo](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards), there I [use `silentRefresh()` for initial login](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards/blob/fa91ad3945fa6fd9ed84fc89eaddd69c95630f83/src/app/core/auth.service.ts#L110). It also [shows how to use `localStorage`](https://github.com/jeroenheijmans/s

[2019-08-04 10:08] #412 closed

[2019-08-04 10:08] #414 closed

[2019-08-04 10:09] jeroenheijmans commented on #420
Assuming the original issue was resolved? Let us know if we should reopen this issue!

[2019-08-04 10:09] #420 closed

[2019-08-04 10:10] jeroenheijmans commented on #422
Let us know if there's still an open issue, and we can re-open!

[2019-08-04 10:10] #422 closed

[2019-08-04 10:12] jeroenheijmans commented on #429
Think the questions in this thread got answered, and since related issues and PRs have been resolved as well I'm going to close this issue.

Let us know if the issue should be re-opened (and what open issue still remains)!

[2019-08-04 10:12] #429 closed

[2019-08-04 10:13] jeroenheijmans commented on #432
There's been a few new releases July 2019, so I'm assuming everything's available now. Let us know if the issue remains with new versions and we can reopen!

[2019-08-04 10:16] jeroenheijmans commented on #433
@elerman or @MikeOne could either of you confirm that this is still an issue with the latest version of Angular and the library (possibly with some fresh steps to reproduce)? Otherwise I'm tempted to close the issue until it pops up for someone again....

[2019-08-04 10:16] jeroenheijmans commented on #437
Assuming we can close this, given that the PR got merged?

[2019-08-04 10:17] jeroenheijmans commented on #440
PR got merged and a few releases got out since as well. Closing the issue, let us know if it should be reopened.

[2019-08-04 10:17] #440 closed

[2019-08-04 10:18] jeroenheijmans commented on #443
Hoping the previous comment answers the original question. Let us know if there's still an open issue, and we'll reopen this thread!

[2019-08-04 10:18] #443 closed

[2019-08-04 10:20] jeroenheijmans commented on #449
The original post is a tad difficult to follow. Hoping the follow-up comment resolved things nonetheless.

Going to close this issue for now. Please let us know if any issue remains, include a description and preferably a minimal repro, and we could re-open and investigate!

[2019-08-04 10:20] #449 closed

[2019-08-04 10:21] jeroenheijmans commented on #450
Cool, thx for letting us know how you solved it! Feel free to open a fresh issue (or ask on StackOverflow - there's a few more people there :D) if you run into anything new...

[2019-08-04 10:21] #450 closed

[2019-08-04 10:23] jeroenheijmans commented on #454
Hoping my previous comment provided enough guidance. Let us know (here, or in a fresh issue) if there's still any open points. Closing for now.

[2019-08-04 10:23] #454 closed

[2019-08-04 10:23] #455 closed

[2019-08-04 10:25] jeroenheijmans commented on #467
Assuming the merged PR and linked issues are enough to track this problem? If this issue is specifically different from those other items, let us know what the details are and we can reopen the issue. Thx!

[2019-08-04 10:25] #467 closed

[2019-08-04 10:28] jeroenheijmans commented on #478
Looking back at this thread, most questions got at least some answer, and apart from that it's about guidance for creating apps actually using the library? I'm tempted to close this issue, unless we could boil things down again to a specific question or feature request?

[2019-08-04 10:31] jeroenheijmans commented on #479
Not sure what you exactly mean, but in general:

- This library is _not_ for AngularJS
- To support Angular version 2 specifically, you probably need to go _way_ back in versions
- To support "Angular" in general, you should check [the releases](https://github.com/manfredsteyer/angular-oauth2-oidc/releases) to see what version supports what

In general though, I recommend just upgrading your appli

[2019-08-04 10:31] #479 closed

[2019-08-04 10:34] jeroenheijmans commented on #480
I remember re-reading your issue title, original post, and follow-up comment a few times some months ago. I'm afraid I still can't make out what exactly you're asking, sorry!

Could you elaborate if the issue is still open? And if so, even further explain what you're trying to ask? Or did you find a resolution, and can we close the issue?

[2019-08-04 10:36] jeroenheijmans commented on #481
I've slightly reworded the title (hope that's appropriate!), as you seem to suggest (correctly, IMHO) that until the guidance from #329 gets changed we should not include any async/await - and remove this occurence (not in the least to prevent dragging along polyfills just for one instance of these keywords)...

[2019-08-04 10:37] jeroenheijmans commented on #483
Let us know if we should re-open the issue, or open a fresh one if you have a new issue!

[2019-08-04 10:37] #483 closed

[2019-08-04 10:38] FlorianSW commented on #437
The PR in this repo isn't merged: #438

[2019-08-04 10:38] jeroenheijmans commented on #490
I think enough major versions have passed to introduce this breaking change.

[2019-08-04 10:41] jeroenheijmans commented on #495
Sorry you didn't get a response from anyone for so long!

I personally think it's _not_ a library concern, but an application concern to determine how and when refreshes, relogins, retries, logouts, and so forth occur.

What _would_ be nice is some extra docs around this, but apart from that I think we could just leave things as is?

[2019-08-04 10:42] jeroenheijmans commented on #497
Hoping you resolved the issue in the mean time? Thinking we might close this issue, unless you still have an open issue? (In which case we'd need steps to reproduce the problem, otherwise it's not really possible to help...)

[2019-08-04 10:43] jeroenheijmans commented on #499
Looking back, I think we can close _this_ issue as OP posted their solution, and some other issues and PRs handle the rest. Let us know if it should be reopened!

[2019-08-04 10:43] #499 closed

[2019-08-04 10:45] jeroenheijmans commented on #437
Ah yes, thx for pointing that out! Will leave the issue open for now then.

[2019-08-04 10:46] jeroenheijmans commented on #500
Okay, will close my issue then!

[2019-08-04 10:46] #500 closed

[2019-08-04 10:48] jeroenheijmans commented on #501
Seems Original Poster solved their issue, so closing this issue seems reasonable.

@mrrobot09 see previous comment, we'd need more context and details. Could you consider opening a new issue (or posting a StackOverflow question), adding enough details to reproduce your problem?

[2019-08-04 10:48] #501 closed

[2019-08-04 10:49] jeroenheijmans commented on #503
Please let us know (and provide steps to repro the problem) if there's still an open issue! Closing for now.

[2019-08-04 10:49] #503 closed

[2019-08-04 10:57] jeroenheijmans commented on #504
Cool, thx for letting us know you resolved things!

[2019-08-04 10:57] #504 closed

[2019-08-04 10:58] MikeOne commented on #433
No longer an issue for me. Not sure what we did to resolve (it’s been a while). I’m fine with closing this issue. Thanks!

[2019-08-04 11:00] jeroenheijmans commented on #518
Let us know if there's anything specific to angular-oauth2-oidc that can be done to resolve the issue, and we can reopen! For now I'm assuming it's a broader question that might get better answers on other forums.

[2019-08-04 11:00] #518 closed

[2019-08-04 11:01] jeroenheijmans commented on #523
I think [as per this comment](https://github.com/manfredsteyer/angular-oauth2-oidc/pull/524#issuecomment-512545392) things got fixed in the latest version. Let us know if the issue persists and we could reopen this issue!

[2019-08-04 11:01] #523 closed

[2019-08-04 11:12] #433 closed

[2019-08-04 11:15] jeroenheijmans commented on #530
Hoping my previous comments answered the question. Let us know if the issue should be reopened (or feel free to open a fresh one)!

[2019-08-04 11:15] #530 closed

[2019-08-04 11:16] #539 closed

[2019-08-04 11:17] jeroenheijmans commented on #535
Hoping my comment resolved things, let us know if the issue should be reopened.

[2019-08-04 11:17] #535 closed

[2019-08-04 11:18] #543 closed

[2019-08-04 11:20] jeroenheijmans commented on #549
Info now seems to be out there in the relevant places:

- The [GitHub releases](https://github.com/manfredsteyer/angular-oauth2-oidc/releases)
- The [NPM package](https://www.npmjs.com/package/angular-oauth2-oidc)

Some bug fix minor releases have already come after.

Going to clean up and close this issue, if anyone has problems with v8 (or in general) feel free to open a fresh issue!

[2019-08-04 11:20] #549 closed

[2019-08-04 11:22] jeroenheijmans commented on #552
Your issue is rather vague, but assuming you're asking about IdentityServer4 (the library) you could check [their example](https://github.com/IdentityServer/IdentityServer4.Demo/blob/a3fb443669db778951b47ec813eee72d25fa39aa/src/IdentityServer4Demo/Config.cs#L170) or documentation.

If there's still an open issue please try to elaborate, let us know what the actual issue is, and we could reopen!

[2019-08-04 11:22] #552 closed

[2019-08-04 11:24] jeroenheijmans commented on #553
Hoping the questions got sufficiently answered (for as far as we reasonably can on the issues list of this specific library).

Let us know if you have any specific open issues left with this library, either here so we could reopen, or in a fresh issue.

[2019-08-04 11:24] #553 closed

[2019-08-04 11:26] jeroenheijmans commented on #557
This certainly seems like a lovely idea (could go hand in hand with a test suite), but might not align with the way @manfredsteyer likes to prepare and do new releases (setting aside a bit of time one or a few times a year to merge a bunch of PRs). Guessing setting up and maintaining CI is quite a bit of work on its own as well.

[2019-08-04 11:29] jeroenheijmans commented on #558
Good question. I don't have much experience with custom elements, but have a gut feeling this is mostly just up to the application developer, not so much the library?

If anything, the library already has extension points for you to implement something:

[code]

other than that, using input properties and the like might be the way to go.

(Although I would wonder why an _element_ would need an _ac

[2019-08-04 11:31] jeroenheijmans commented on #562
Okay cool! Going to close this issue for the moment as I don't think we can do much else here. Let us know if we should reopen (and what the open issue then is)!

[2019-08-04 11:31] #562 closed

[2019-08-04 11:32] jeroenheijmans commented on #567
Let us know if there's anything specific the community here can do, and if we should reopen it.

[2019-08-04 11:32] #567 closed

[2019-08-04 11:34] jeroenheijmans commented on #571
Sorry you never got a response from anyone.

Your original post is slightly hard to follow, could you edit and update it (a) with some formatting for code and (b) some steps to set up a minimal repro? Possibly provide a stackblitz example?

[2019-08-04 11:35] jeroenheijmans commented on #572
@alexfromgalax87 Did my [previous comment](https://github.com/manfredsteyer/angular-oauth2-oidc/issues/572#issuecomment-507256005) and complete example I linked help out? Could we close the issue, or is there still some open point?

[2019-08-04 11:38] jeroenheijmans commented on #576
I'm afraid that your previous post is still a bit too little to go on.

Could you please provide a minimal  repro, e.g. a StackBlitz example to demonstrate the issue? And perhaps elaborate a it more? - Or possibly ask on StackOverflow if it's not an issue with the library, but more of a support question?

[2019-08-04 11:39] jeroenheijmans commented on #577
It's really hard to help without a reproducible scenario. Could you include that, e.g. by posting a StackBlitz example? Or let us know if you resolved things?

[2019-08-04 11:42] jeroenheijmans commented on #578
Sorry to hear you have an issue with your application, and thank you for asking it as a question on Stack Overflow.

You've also asked the same thing in #575 before I think, so this issue is really a duplicate of both that issue and the question on Stack Overflow, so let's use those threads as a single source for the issue.

[2019-08-04 11:42] #578 closed

[2019-08-04 11:43] jeroenheijmans commented on #586
Assuming the original question got answered with previous comment(s). Please do let us know if there's a reason for keeping the issue open and we'll reopen!

[2019-08-04 11:43] #586 closed

[2019-08-04 15:37] nashvillenarayan commented on #577
I was able to resolve the issue, the client-id need to be same across all applications. Thank you.

[2019-08-04 15:37] #577 closed

[2019-08-04 17:04] jeroenheijmans commented on #565
Could anyone experiencing this issue provide steps to reproduce the issue? It's kind of hard to support for us otherwise, and I'm tempted to close until we have those steps to reproduce...

[2019-08-04 17:12] jeroenheijmans commented on #513
You might be getting little response here as there may be little to no Ionic users frequenting these issues. Since you mention the issue started switching from Ionic 3 to 4, you might be able to reduce it to an example without angular-oauth2-oidc and ask for help in their forum or issues list?

Or could you otherwise possibly add some info on this thread, making it easier to understand the issue w

[2019-08-04 17:16] jeroenheijmans commented on #465
Does anyone involved have a way to reproduce the original issue? I'm trying to assess if we still need to craft a fix in the library, or if the workarounds and solutions posted above are enough to close this issue for now...

[2019-08-04 17:20] mraible commented on #513
Nevermind, I figured out how to do it with [Ionic AppAuth](https://www.npmjs.com/package/ionic-appauth) and wrote a [blog post about it](https://developer.okta.com/blog/2019/06/20/ionic-4-tutorial-user-authentication-and-registration).

[2019-08-04 17:20] #513 closed

[2019-08-04 17:22] jeroenheijmans commented on #393
I don't think there are any detailed guidelines for contributing (yet). I've only done minimal changes to docs so far, but at least it's a start:

- the `/** */` docs in typescript files get compiled into new docs whenever a new release is created, so feel free to improve those
- the `.md` files with additional "howto's" also get compiled into the final docs

Apart from that you'd probably unfortu

[2019-08-04 17:31] jeroenheijmans commented on #513
@mraible Awesome, thx for sharing ❤️ and good to hear you found a way to make things work for your situation!

[2019-08-04 21:28] svw88 commented on #465
@jeroenheijmans I will recreate the original issue using the latest angular version and post my findings tomorrow by this time

[2019-08-05 12:49] #409 closed

[2019-08-05 21:08] barnold89 commented on #373
I run a test on the showcase, which I've posted on my initial post with the newest version of iOS (12.4). It seems, that Apple already pushed a fix for this. It's working correctly now.

[2019-08-05 21:08] #373 closed

[2019-08-06 10:44] svw88 commented on #465
Apologies for the delay.

This is still an issue and can be seen if you look at the example project posted above and set the initial navigation to true instead of false in the app.routing.ts file.

What happens is that when you have initial navigation set to true the app navigates before the library has processed the id token from the URL thus losing the URL token data leaving the library with not

[2019-08-06 11:08] jeroenheijmans commented on #465
Thanks for you prompt response!

and

both make sense to me, so let's keep this issue open as a reminder to do just that!

[2019-08-06 11:12] harmpauw commented on #432
@jeroenheijmans the issue still remains the way @davdev82 described. If the id token has a shorter lifespan than the access token and you configure setupAutomaticSilentRefresh to only listen to access token expiration, the access token will never be refreshed. I created a pull request that always fires the token_expires event for both token. setupAutomaticSilentRefresh() then filters the token_exp

[2019-08-06 12:03] jeroenheijmans commented on #432
Okay cool, thx for the update and the PR, will reopen this issue then!

[2019-08-08 04:39] otsybulsky opened #598 "How to get user profile for code flow?"
Hi! I try code flow https://manfredsteyer.github.io/angular-oauth2-oidc/docs/additional-documentation/code-flow-+-pcke.html.

How i can check user profile with oauthService.loadUserProfile()? I can't do this right now, the token is null.

[2019-08-09 06:50] a4amalc opened #599 "Version 8.0.4 is not compatible with angular8"
Upgraded to Angular 8

Used version 8.0.4 of angular-oauth2-oidc which is not generating a valid URL

It works fine when downgraded to version 3 or 5

[2019-08-09 07:41] jeroenheijmans commented on #599
Could you elaborate what you mean by "_is not generating a valid URL_"? Perhaps tell us how to repro the issue? Does this also happen if you just `ng new` and use  the library, or only under specific circumstances?

[2019-08-09 10:01] adrianbenjuya commented on #593
There is a PR #584

[2019-08-09 13:24] jeroenheijmans commented on #598
Could you help us reproduce the issue? Perhaps create a StackBlitz.com example against one of the demo Identity Servers? It's a bit hard to follow why exactly you'd be getting into that situation...

[2019-08-10 09:50] otsybulsky commented on #598
I have already resolved the issue, my project was incorrectly configured redirect. Thanks for the help.

[2019-08-10 09:50] #598 closed

[2019-08-11 10:23] jeroenheijmans commented on #392
Will close the issue for now. If you feel the original question is still unanswered let us know what we can further do and we could re-open. Or open a fresh issue, or consider asking on Stack Overflow (larger community answering questions there).

[2019-08-11 10:23] #392 closed

[2019-08-11 10:25] jeroenheijmans commented on #403
Going to clean up some, and close this issue.

Would be happy to reopen, but would love to see a repro (preferably with latest version of the lib) so we can more easily investigate.

Of course anyone landing here: also feel free to open up a fresh issue with a repro.

[2019-08-11 10:25] #403 closed

[2019-08-11 10:26] jeroenheijmans commented on #478
Going to keep things tidy and close this issue for now.

If the _original_ question is still open, please let us know what the precise left over question is. If you have another (potentially related) issue: feel free to open a fresh issue with minimal repro!

[2019-08-11 10:26] #478 closed

[2019-08-11 10:28] jeroenheijmans commented on #480
Hoping things got cleared up, here or in some other thread! Going to keep things tidy and close this issue.

Feel free to open a fresh one, or ask a question on Stack Overflow (larger community there), and if possible try to attach a minimal repro for your scenario.

[2019-08-11 10:28] #480 closed

[2019-08-11 10:28] jeroenheijmans commented on #497
Going to tidy up and close the issue. Let us know if the problem persists, and if so please try to provide a minimal repro (here, to reopen things, or in a fresh issue). Thanks!

[2019-08-11 10:28] #497 closed

[2019-08-11 10:31] jeroenheijmans commented on #572
I think the main question was summarized halfway through: "a working no-discovery-doc example plz?".

Hoping [my extensive comment](https://github.com/manfredsteyer/angular-oauth2-oidc/issues/572#issuecomment-507256005) would suffice. Going to tidy up and close the issue for now. Let us know if there's still an open issue left, and we could reopen or start a fresh issue!

[2019-08-11 10:31] #572 closed

[2019-08-11 10:35] jeroenheijmans commented on #576
Going to tidy up the issue for now. Hoping you solved the issue somehow, if not please let us know if you were able to create a minimal repro somewhere (stackblitz, or a clone-able example) and we could reopen.

[2019-08-11 10:35] #576 closed

[2019-08-11 12:03] jeroenheijmans commented on #599
I just upgraded [my example repository to 8.0.4](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards) and saw no related issues. Could you try to be specific with your issue, and create a minimal repro (e.g. a Stackblitz.com example)?

[2019-08-11 14:05] jeroenheijmans opened #600 "Consider supporting iframe silent refresh in Authorization Code + PKCE flow"
Recently released versions 8.x introduced [support for "Code Flow" (Authorization Code + PKCE)](https://manfredsteyer.github.io/angular-oauth2-oidc/docs/additional-documentation/code-flow-+-pcke.html). While [trying to upgrade my sample repositlory](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards/issues/24) to utilize this flow I'm running into an issue.

**It seems t

[2019-08-11 14:10] jeroenheijmans commented on #592
In #600 I suggest introducing `LoginOptions` parameter for the `tryLoginCodeFlow` method, at first glance that would also be the way to handle the `state` stuff, and a PR could possibly fix both this and #600 in one go?

[2019-08-12 15:27] bpeynet commented on #376
Hi @jeroenheijmans, thank you for your care and work !
My application running over Angular 7.2.5 and angular-oauth2-oidc 5.0.2 does not face this issue anymore.

[2019-08-12 15:28] #376 closed

[2019-08-12 16:41] jefflomax commented on #409
Why was this closed?  Is there a best practice for angular-oauth2-oidc surviving a F5 or shift-F5?

[2019-08-12 18:05] jeroenheijmans commented on #409
I closed it for a few reasons:

- activity died out and I got no response to my latest comment
- the original post was really hard to follow
- the original poster stopped interacting
- another user [posted their solution](https://github.com/manfredsteyer/angular-oauth2-oidc/issues/409#issuecomment-424355972)
- I [posted my solution](https://github.com/manfredsteyer/angular-oauth2-oidc/issues/409#i

[2019-08-12 18:06] jeroenheijmans commented on #376
Thx for getting back to us with the updated info, and good to hear you found a solution! ❤️

[2019-08-12 18:25] rkara opened #601 "document implicit flow via popup"
**Is your feature request related to a problem? Please describe.**
The documentation provided within [this comment](https://github.com/manfredsteyer/angular-oauth2-oidc/pull/468#issuecomment-517698755) should be within the [source code documentation](https://manfredsteyer.github.io/angular-oauth2-oidc/docs/).

[2019-08-12 18:30] rkara opened #602 "Consider supporting performing code + PKCE via a popup"
**Is your feature request related to a problem? Please describe.**
Issue #468 added the ability to perform implicit flow via a popup, it would be beneficial to be able to also perform the code + PKCE authentication via a popup as well.

**Describe the solution you'd like**
I would like an `initLoginFlowInPopup` method as well as an `initCodeFlowInPopup` method added to the `OAuthService` to align

[2019-08-13 07:18] jeroenheijmans opened #604 "Url Helper Service should not discard question marks when parsing hash fragment"
In a sense, this might be a duplicate of #415. I've created this issue because a lone PR popped up: #603.

Looking at the PR I see that indeed, for reasons unknown to me, the url helper _very deliberately_ removes question marks from the hash fragment.

- [Question marks are allowed](https://stackoverflow.com/a/26119120/419956) so I fail to see why we'd strip them (plus #415 is caused by this)
- I

[2019-08-13 08:23] itx-digital opened #605 "Allow omitting 'scope' entirely (because -e.g.- it is not supported by ADFS)"
Hello,

Would it be possible to have a way to remove scope parameter from the generated login URL ?

For example, adding it only if not null.

My ADFS 3 server doesn't support it, even if empty or null :

"Microsoft.IdentityServer.Web.Protocols.OAuth.Exceptions.OAuthInvalidScopeException: MSIS9278: The OAuth authorization code received is invalid. A 'scope' parameter was received in the request an

[2019-08-13 15:31] jeroenheijmans commented on #605
Looking at [the relevant code](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/a1652dc58e38377ce1e352feafb9656136e98fa0/projects/lib/src/oauth-service.ts#L679-L712) I think that's currently not at all possible.

Looking at [the relevant RFC](https://tools.ietf.org/html/rfc6749#section-3.3) it seems that it should be possible to omit it:

So I'll take the liberty and reword your title sli

[2019-08-13 21:10] neerajkaushik123 commented on #315
I am getting the same error while refreshing token. Refreshtoken.html is already set as assets.

Error is :
AuthErrorEvent {type: "token_error", reason: {…},

[2019-08-13 23:12] danyo1399 commented on #604
Hi there.
The problem i am facing that triggered the PR is that silent refresh errors get swallowed and not raised as errors because the error response is chopped to after the ?. The silent refresh will eventually timeout which generates a different error which i then use to trigger a redirect login but that happens only after 20 seconds.

When i manually manipulate the hash removing the questionm

[2019-08-14 05:26] xiananfan opened #606 "APP_INITIALIZER stops working with 8.0.2"
**Describe the bug**
I was using APP_INITIALIZER to load a runtime config.json file, and use the value from the config.json to populate the AuthConfig. This was working with 5.0.2, update to 8.0.2 broke this.

**Stackblitz example**
See minimum repo here: https://github.com/xiananfan/sample-angular-oauth2-oidc-with-auth-guards/commit/a6aa6c2cc2019e836b71a5870c09e4cd0ff053e0

This repo is based on

[2019-08-14 06:15] jeroenheijmans commented on #606
Thx for the repro, that helps enormously. I've not had time to clone and dive deep yet, but looking at the code I have some remarks.

I'm trying to find out what the specified behavior is for APP_INITIALIZER functions returning a promise, but [the docs are terribly lacking](https://angular.io/api/core/APP_INITIALIZER). Then again, I'd expect all sorts of other errors if the initializer ran too lat

[2019-08-14 08:45] evannah commented on #605
Hello,

Thank you for your answer.

Has the createLoginUrl function been removed for the next release ?
That's where the change could have been done in my opinion.

Anyways, I'll try to configure my ADFS server so that it supports the scope parameter.

Best regards.

[2019-08-14 09:47] jeroenheijmans commented on #605
I think [`createLoginUrl` is still there](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/a1652dc58e38377ce1e352feafb9656136e98fa0/projects/lib/src/oauth-service.ts#L1166). It's `protected` so still gives some (IMHO awkward) way of changing its behavior.

But that's for the _login_ url, not for the POST to the `/token` endpoint I linked to.

So that might mean my interpretation of your s

[2019-08-14 17:45] xiananfan commented on #606
Hi @jeroenheijmans thanks for looking into this, [here](https://angular.io/guide/dependency-injection-providers#predefined-tokens-and-multiple-providers) is some documentation regarding APP_INITIALIZER from angular.io. The guide I linked in the description above also has a good [section](https://juristr.com/blog/2018/01/ng-app-runtime-config/#how-does-the-app-initializer-work) explaining how APP_I

[2019-08-14 18:34] jeroenheijmans commented on #606
I do not know why it _would_ work with v5, but am not too surprised that it does _not_ work currently.

From what I can tell, the `authConfigFactory` is called to construct an AuthConfig object _before_ the APP_INITIALIZER async function is awaited (though _after_ it was called). This is supported by the fact that your repro throws this error:

It is also supported by the fact that "the appConfig

[2019-08-14 21:41] xiananfan commented on #606
Hi @jeroenheijmans, thanks for providing the fix, I implemented it in this [commit](https://github.com/xiananfan/sample-angular-oauth2-oidc-with-auth-guards/commit/d9810350dd0e2bd40b333e18abdd57cba546b05b), and it is working now with the 8.0.2 version.

On the other hand, regarding your comment:

I think it's true for 8.0.2, but if the version is switched back to 5.0.2, the `authConfigFactory` is

[2019-08-15 06:54] jeroenheijmans commented on #606
Good to hear you've got things working!

Regarding your question:

I don't think I will, there's only so much time I have. But you're welcome to investigate yourself, let us know what you find?

Regarding your remark:

I think you're absolutely right! But I think nothing needs to change to the library at this moment, because:

- A. As [this comment in the Angular 8 repo's issue](https://github.com

[2019-08-15 07:01] jeroenheijmans opened #607 "Document async config loading (e.g. via APP_INITIALIZER)"
In #606 we uncovered that the following does _not_ work:

- Use an async `APP_INITIALIZER` to load some configuration
- Use that configuration in a factory to `provide` the `AuthConfig`

because the factory might run (because someone's asking for `OAuthService` that depends on that `AuthConfig`) before the initializer has resolved.

The fix is to use late configuration via:

[code]

It would be go

[2019-08-15 07:01] #606 closed

[2019-08-17 22:25] webdeveloperninja commented on #494
Where did you get the issuer url in the portal?

[2019-08-17 22:49] Matt-J-Hosking commented on #494
If you open 'https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration' (the standard OIDC discovery endpoint) you get all the JSON data for their configuration. Replace 'common' with your Azure tenant ID for more specific values.

[2019-08-19 08:17] evannah commented on #605
Hello,

I think the issue is only with the login URL. So yes, I can try patching the function.

Thank you.

Best regards

[2019-08-19 16:02] smhnkmr opened #608 "Aws Cognito CORS issue"
I am trying to use AWS Cognito as an Identity server and did the configuration as mentioned in the documentation. But I am getting the CORS error when oauth service calls on initialization,

`this.oauthService.loadDiscoveryDocumentAndLogin();`

[code]

The angular client url is "http://localhost:6200". I see the aws cognito is cors agnostic, so I doesn't have to do any specific configuration in aw

[2019-08-19 16:10] jeroenheijmans commented on #608
CORS errors typically mean that the _server_ returns header to the browser, instructing the browser not to allow the call to succeed if it was made from a wrong origin.

Usually you cannot change anything in your code to fix this. The only two places two fix this:

- Host the Angular app on a different origin
- Change the CORS headers your server sends back

What are the CORS headers that your ser

[2019-08-19 16:31] smhnkmr commented on #608
It actually hits the aws cognito server and from there this issue occurs. I don't see any cors related configuration in aws cognito console. am I missing something?

[2019-08-19 17:56] jeroenheijmans commented on #608
What do you see if you inspect the request in the developer tools? Even when it fails with a CORS problem, I expect that you'd see it there. For example, here's my sample repo trying to connect to demo.identityserver.io:

![image](https://user-images.githubusercontent.com/1590536/63287647-2233be00-c2bb-11e9-8ac1-3da8b80dc571.png)

It (purposely) has _extremely_ liberal CORS settings, allowing it t

[2019-08-19 20:44] jeroenheijmans commented on #330
Again, sorry you never got any response.

Going to close this for now, hoping you've resolved the issue in the mean time. If the problem persists, please try to upgrade from version 3 to the latest version (currently 8) and/or have a peek at [the other HashLocationStrategy issues](https://github.com/manfredsteyer/angular-oauth2-oidc/issues?utf8=%E2%9C%93&q=is%3Aissue+hashLocationStrategy), one of

[2019-08-19 20:44] #330 closed

[2019-08-19 20:48] jeroenheijmans commented on #495
If anyone ever really wants to take a shot at creating additional docs that would be a nice to have, but closing this issue for now.

[2019-08-19 20:48] #495 closed

[2019-08-19 20:49] jeroenheijmans commented on #565
If anyone's gotten to a good repro for the latest version we could reopen and investigate. Until then I'll clean up and close this issue for now.

[2019-08-19 20:49] #565 closed

[2019-08-19 20:50] jeroenheijmans commented on #528
Let us know if anyone ever gets to creating a repro, so we can reliably help. Until then I'm going to clean up and close this issue.

[2019-08-19 20:50] #528 closed

[2019-08-19 20:54] jeroenheijmans commented on #434
Related, even though there's no supporting issue logged yet, PR #596 might be interesting here?

[2019-08-20 07:46] wachri commented on #434
Nice yes looks promising :)

[2019-08-20 17:32] smhnkmr commented on #608
In my case, I just use the AWS User Pool as identity provider and not using any OpenId connect. Does the discovery document is still necessary to be loaded, because I see it looks for openid_configuration which may not be required in my case?

[2019-08-20 19:59] jeroenheijmans commented on #608
I think the full Authorization Code + PKCE flow _is_ an OpenID flow, right? So you're using it effectively then?

Either way, you could run this library without loading the discovery document, [here's my comment in another issue detailing that approach](https://github.com/manfredsteyer/angular-oauth2-oidc/issues/572#issuecomment-507256005).

Are you sure though that you get a CORS error on the dis

[2019-08-20 20:57] qsiraut opened #610 "Error getting token when using code flow"
Hello,

I am trying to use the library with the code flow response type.

When browsing to http://localhost:4200, it does redirect to the oauth server login page and then back to  http://localhost:4200, providing the actual content, but I see an error in the console logs
`
Error getting token
Http failure response for http://ibm-rsso2.trybmc.com/rsso/oauth2/token: 0 Unknown Error
`

I am not sure

[2019-08-21 02:38] TMistui commented on #608
You should use issuer as below
https://cognito-idp.us-east-1.amazonaws.com/{userPoolId}
So, it will work well.

[2019-08-21 05:29] jeroenheijmans commented on #610
So far, all is as expected. After logging in successfully you get directed back to your app, and the library tries to exchange the 'code' (you brought along (in the url hash fragment) when you got sent back) for an access token.

Your error means the server wont allow that exchange. The reason is very hard for us to guess, but some ways to investigate:

- add a `.catch(...)` after the `then` and l

[2019-08-21 05:37] ccruza commented on #465
Hello @svw88
Your example works fine, but I'm using Azure AD.. I explain myself:

This is where you configure the redirect url in Azure AD:

![image](https://user-images.githubusercontent.com/41245212/63405219-a5ccd800-c3ab-11e9-844d-0062059f7587.png)

So, I can't assign:

`    config.redirectUri = window.location.origin + "/index.html";
`

Any suggestions? Thanks!

[2019-08-21 06:34] svw88 commented on #465
@ccruza the window.location.origin + index.html part is just to connect to manfreds demo identity server. Commonly you would have your own setup which I'm guessing is what the azure ad is in your case. I have never used it however the redirect url in your database should be your own website url. Such as localhost:4200 or example.domainname.com for example. I just had a quick read and looks like yo

[2019-08-21 07:41] qsiraut commented on #610
Thank you for your quick reply :)
The catch suggestion does not help much (getting the same 'Http failure response for http://ibm-rsso2.trybmc.com/rsso/oauth2/token: 0 Unknown Error').

The network tab shows indeed the details of the token request - here are the form data details
`grant_type=authorization_code&code=7499ddb46c40575f88c7e600c92012ce&redirect_uri=http://localhost:4200&code_verifier=O

[2019-08-21 09:01] jeroenheijmans commented on #610
If it does not support PKCE, it should've rejected the initial login redirect cycle already, I reckon.

On a side note, it seems the server doesn't support SSL? This is a _major_ security vulnerability, absolutely something to get fixed for production scenarios! Any user that logs in on that server via a network connection with _any_ part that's untrusted (ISP, your wifi network, etc.) could be le

[2019-08-21 09:15] qsiraut commented on #610
So I just got confirmation that PKCE is not supported... I agree that it is strange that the authorize call succeeded in that case though (since the client secret was not provided)....

Do you have a suggestion on how to proceed ? For example, can I rely on my spring boot backend in between somehow ?

Thank you

[2019-08-21 10:00] qsiraut commented on #610
I just made an attempt : for the tokenEndpoint, instead of pointing to the IDS, I am pointing to my spring boot backend, which knows the client id and secret, and can perform the token call based on the provided 'code'.  This seems to work, but maybe a little strange (some of the flow being handled by the angular app, then by the backend...).

[2019-08-21 11:09] manfredsteyer commented on #610
If I remember right, there is also a configuration option to turn off PKCE in the library.

[2019-08-21 12:06] jeroenheijmans commented on #610
It seems so: [`disablePKCE` might do the trick](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/a1652dc58e38377ce1e352feafb9656136e98fa0/projects/lib/src/auth.config.ts#L229)?

[2019-08-21 14:08] ccruza commented on #465
@svw88 Thanks for your advise.
Anyway I'm still facing the issue with the url:

`http://localhost:4200/home#access_token=???&code=???&state=???&token_type=Bearer&expires_in=7199`

Even when I've achieve to redirect to: http://localhost:4200 (simply)

Thanks in advance

[2019-08-21 17:08] ccruza commented on #494
Hello @mores
I followed your example. I did not understand this part (app.component.ts) :

`this.oauthService.loadDiscoveryDocument( 'https://' + PRIVATE_PROXY_SERVER + '/angular2azure/openid-configuration?tenant=' + TENANT_GUID ).then( doc => {......`

So, I change it for:

`this.oauthService.loadDiscoveryDocument('https://login.microsoftonline.com/thisismydirectoryname.onmicrosoft.com/v2.0/.well

[2019-08-22 09:03] domsew opened #611 "Randomly occurring EmptyError during silent refresh"
**Describe the bug**
During silent refresh sometimes (probably randomly) an EmptyError occurs. I provide stack trace below. This error causes closing Angular Material's MatDialog. I do not see any bad requests
in console (no 400 or 500 code). I use Identity Server 4. What can I do to avoid this error?

**Stackblitz example**
None.

**To Reproduce**
Impossible to reproduce (error seems to appear ra

[2019-08-22 11:35] jeroenheijmans commented on #611
I sympathize with your problem, but without a way to reproduce the problem, there's not much we can do I'm afraid...

[2019-08-22 13:31] erabhishek211 opened #612 "Facing issue on redirection and login form does not appear."
I have my project set with Angular and have created my keyCloak relm and client. I am trying to hit the key cloak server with the issuer and have provided my Valid redirection uri as "http://localhost:4200/*".

When I hit the url http://localhost:4200 from my browser for the first time the keycloak login page appears after entering the user credentials when i hit the login button instead of redire

[2019-08-22 14:42] jeroenheijmans commented on #612
You call `loadDiscoveryDocumentAndLogin()`. The `AndLogin` part will explicitly always send users to log in, right after the disco doc was loaded.

Instead, they way you tell us, I think you want Angular to try and pick up the access token from the URL. This requires `loadDiscoveryDocumentAndTryLogin()` to be called, which "tries" to log users in by looking for an access token in the URL.

I perso

[2019-08-25 13:20] TommyHubbard opened #614 "Implicit Flow in Angular 5 Application: Successfully Authenticating but getIdentityClaims() returning NULL Values"
**Describe the bug**
There are at least two (2) other issues on GitHub that are similar to this one, but neither of them provide a clear solution to the problem.  In my Angular 5 application, I am using a public API for authentication.  I do not have "system administrator" access to the authentication/resource server, so I am unable to make any changes in this regard.  I do know that its a Microso

[2019-08-25 18:35] jeroenheijmans commented on #614
What order do your methods (constructor, oAuthCall, and runAOnAppLoad) run in? I presume `runOnAppLoad` runs too soon, before the `tryLogin` call does its magic.

I also think you need to call `loadUserProfile()` to exchange the token for actual details about the user.

I recommend something more like this:

[code]

I've typed this without trying, so you may have to adjust the specifics, but hopef

[2019-08-25 19:48] TommyHubbard commented on #614
Hi jeroenheijmans - Thank you for your reply!

So to answer your question about what order do my methods run:  The constructor runs first and calls this.oAuthCall().   this.oAuthCall() configures authConfig class and sets the session storage and token validation handler.   tryLogin(), from my understanding, simply determines the approach the application will use (ie, look for a discovery document

[2019-08-25 20:49] jeroenheijmans commented on #614
**About the error:** Have you checked what the issuer is according to the token? You can use e.g. https://jwt.io/ to decode it. I presume that the issuer is just the plain _origin_ and not the full url you have in your config (`https://apigw-stg.cdc.gov:8443/auth/oauth/v2`).

**About tryLogin:** this method will look at the URL and see if the hash fragment contains tokens (as supplied when you got

[2019-08-25 22:29] TommyHubbard commented on #614
Thanks for the jwt.io suggestion!  I decoded it and you were right, the origin was different.  I replaced the incorrect one with the correct one, and am no longer getting the "Wrong Issuer" error.  But getIdentityClaims() is still returning null.   I'm stomped.

[2019-08-26 07:38] jeroenheijmans commented on #614
Hmm, okay that's good. Let's see:

- `getIdentityClaims()` merely [returns something from storage](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/a1652dc58e38377ce1e352feafb9656136e98fa0/projects/lib/src/oauth-service.ts#L1864-L1873)
- `loadUserProfile()` should [set the relevant storage item](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/a1652dc58e38377ce1e352feafb9656136e9

[2019-08-26 12:58] senzacionale commented on #21
can you provide working example?

[2019-08-26 17:45] jeroenheijmans commented on #614
Have you looked through the documentation yet? It might be possible to set stuff for jwks without using discovery, but if i recall correctly there's also some docs for using a NullValidationHandler.

Anyways, good to hear you've tracked your problems down, good luck with the final bits!

Remember, there's also Stack Overflow if you have _questions_ or run into implementation issues - the issues li

[2019-08-26 17:45] #614 closed

[2019-08-26 18:47] Maximaximum opened #616 "sessionCheckEventListener should only call this.debug('got info from session check inframe', e) if origin is correct"
**Describe the bug**
Currently the `setupSessionCheckEventListener()` function logs ALL the events posted with `window.postMessage()`: https://github.com/manfredsteyer/angular-oauth2-oidc/blob/01b4f20fe72a246f13e239b05126f9bee9c0982f/projects/lib/src/oauth-service.ts#L1046

While this might make sense for events received from the session check frame, this makes absolutely no sense for messages rec

[2019-08-27 06:10] jeroenheijmans commented on #616
Makes sense. PR looks good to me.

[2019-08-28 14:00] IvanMatviienko commented on #560
Hello, I also have some issue with refresh from oauth2. In fact, refresh method works fine, my access token refreshing and all right, but, I saw in dev.tools -> networks that with oauth2 query for refresh token, oauth2 also do other api call, it's my specific api for data when the application initialize. Can you halp me dis-active call to this one when oauth2 refreshing access token?
Thx.

[2019-08-28 18:31] ggjersund commented on #587
@leonardochaia I had some problems installing it via npm in the ordinary fashion, I believe its related to some cache problems with npm's new self cache cleaning. If you have some similar problems try force installing `npm install angular-oauth2-oidc@latest --save --force`.

[2019-09-02 05:43] vahidarr opened #618 "fix interceptor - continue calling service when token is not available"
I Use Latest Version(8.0.2) and the problem is this:
when I call a service that token is not available. the request get stock in interceptor and i add this line before return in interceptor to skip add token to request

[code]

[2019-09-02 06:11] jeroenheijmans commented on #618
Could you provide more context? There's extremely little to go on in your text. I use interceptors in my own application and they work just fine.

[2019-09-02 06:26] vahidarr commented on #618
This is the scenario:
A user logged in
1- I press F12 and I clear SessionStorage
or
2- I logout(in LocalStorage mode) in one tab and on the second tab
When I call service: it get stuck in this line of code in interceptor(DefaultOAuthInterceptor):
[code]
i add this code before return and it work
[code]

[2019-09-02 06:53] jeroenheijmans commented on #618
For me personally, the issue is still a little vague, but perhaps another community member can come along and help out. It does seem it might be more of an issue with your application than with the library? I suggest asking on Stack Overflow instead (where they'd probably also need more details and a minimal repro), as there's many more people there answering questions.

[2019-09-02 13:17] lukbin opened #619 "angular-oauth2-oidc - multiple app instances support"
Hello,
I've noticed some issues relatetd when using angular-oauth2-oidc by many application instances opened in separate tabs.
Currently library used in separate application instances overrides its token info stored in session storage. This in turn causes problems with token refreshing when setupAutomaticSilentRefresh option is turned on.
Sometimes one of application instance stops to refresh toke

[2019-09-02 13:31] jeroenheijmans commented on #619
Could you create a sample repository or StackBlitz example that demonstrates the issue? I don't experience these problems in my production application that looks quite similar to [my sample application](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards) (as far as I know).

[2019-09-04 12:56] senzacionale opened #620 "Do you support more AuthConfig in same app?"
I would like to know if I can use more AuthConfig at same app. For example code-flow, google, fb, twitter etc.

Or I need code-flow and then for google or fb native library.

Thank you

[2019-09-05 04:44] danyo1399 commented on #604
Is there anything more you would like me to do regarding this?

[2019-09-05 16:44] bobbzeen opened #621 "Authorize call gets cancelled on first silent-refresh call"
**Describe the bug**
When the silent-refresh call is being called the first time, the first authorize call is being cancelled. The second authorize call is being immediately called after the cancelled one and it successfully completes. The silent refresh continues working without any issues and this cancelled call doesn't break the application nor it makes it to misbehave.

![image](https://user-i

[2019-09-10 08:02] manfredsteyer opened #622 "use history api to remove token from url"
**Describe the bug**
Currently, the lib uses ``location.hash`` to remote the received token from the url. However, this is triggering the Angular router and can lead to race conditions with other routing requests.

**To Reproduce**
Steps to reproduce the behavior:
1. Use official example
2. Use router.navigate on token_received event
3. You get an race condition with the router

**Expected behavio

[2019-09-10 09:22] petemcwilliams opened #623 "PKCE Code Flow and Okta, refresh token not being returned."
I'm not sure if this is a bug or complexity of the way Okta has implemented the standard.

Okta states the Authorization end point will return a refresh token if the scope includes 'offline_access'

https://developer.okta.com/docs/guides/refresh-tokens/get-refresh-token/

I am thinking that
[code]

should also set scope param?

**Expected behavior**
A refresh_token to be stored.

**Desktop (please

[2019-09-10 21:46] Jurabek commented on #560
@rajuldixit I have fixed it, by adding to `index.html` file
[code]

[2019-09-11 12:35] agjs commented on #565
I had the same issue. For some reason, this line in my router caused the issue:

[code]

I yet haven't figured out why but once I debug it properly, I might post more information.

[2019-09-13 10:06] phrouv opened #624 "Authorization Code with PKCE Flow with keycloak 7.0 is failing"
The id_token validation is failing with the error :

[code]

The id_token sent back by Keycloak is :

[code]

In contrast, here is the id_token sent back by Identity Server of the original source code (https://demo.identityserver.io) :

[code]

[2019-09-13 10:10] jeroenheijmans commented on #624
Could you try to make a reproducible example, e.g. on StackBlitz?

[2019-09-13 10:18] Jesc6417 opened #625 "error invalid_nonce_in_state"
Hi,

here's my issue. I've set up my angular application with angular-oauth-oidc npm package.
I've an invalid_nonce_in_state error that I can't fix.

Here's the behavior.
1 - I'm loging in my application. Life time of session is around 5 minutes.
2 - I close tab in my browser which display my application and wait for more than 5 minutes so that my session is finished.
3 - I reopen a new tab ant tr

[2019-09-13 13:13] joek commented on #511
Are there any news on this issue?

[2019-09-13 18:04] CharlyRipp commented on #625
Had the same thing for a while -- I have yet to get `loadDiscoveryDocumentAndTryLogin` to work.
Looking at the code, looks like it should work like a charm, but instead I had to revert to keeping them separate, also adding a bypass when you currently have a valid token

[code]

[2019-09-14 03:12] rahulrastogi-git commented on #625
try using authconfig (oauthService.configure(authConfig)), instead of oauthservice properties.

[2019-09-15 09:48] StephanKuehn commented on #580
I am using resource owner password grant flow. There is no id token for the any of users A, B or C.

[2019-09-16 08:54] phrouv commented on #624
I will bring the solution to my own question thanks to the blog entry of Jeroen at https://ordina-jworks.github.io/security/2019/08/22/Securing-Web-Applications-With-Keycloak.html :
__Keycloak is not returning the at_hash claim in the access token. For this reason, the client library would crash while parsing it. This is why we disable it in the config but also use the NullValidationHandler instea

[2019-09-16 08:54] #624 closed

[2019-09-16 09:09] Jesc6417 commented on #625
Hi,

thanks for your help!
@CharlyRipp: I've tried your solution, but even like this, I've still an error with invalid_nonce_in_state...

@rahulrastogi-git : sorry but I don't understand your comment. What do you mean by

Here's my code using the comment form CharlyRipp:

      this.oAuthService.configure(config);
      this.oAuthService.setStorage(localStorage);
      this.oAuthService.tokenValid

[2019-09-16 12:11] joek commented on #511
Ok, I found my issue... I was calling the `hasValidAccessToken` method later in the code to initialize the implicit flow. After replacing it with `hasValidIdToken`everything works fine.

[2019-09-16 13:21] vadjs opened #626 "Return method results as Observables"
**Is your feature request related to a problem? Please describe.**
Current library workflow using promises to return async results. This contradicts to Angular styleguides.

**Describe the solution you'd like**
Here are two solutions:
- To add option `useObservable` in `forRoot` method of `OAuthModule`. This will make no breaking changes but will make code more complicated.
- To replace all Promis

[2019-09-16 14:26] jeroenheijmans commented on #626
I appreciate the idea to conform more to the suggested Angular styles, though I failed to find any specific guidance around 'observables over promises' in [these style guide docs](https://angular.io/guide/styleguide#style-guide), perhaps you could link the parts you refer to?

Regardless, I think none of the available ways to implement this is worth it (either the complexity for option 1, or the b

[2019-09-16 17:34] dorianweidler commented on #624
The part with the NullValidationHandler can be omitted as soon as https://github.com/manfredsteyer/angular-oauth2-oidc/pull/613 is merged.

[2019-09-17 00:48] RePeet13 commented on #605
Hey, just wanted to drop in and say that I was hitting this (wanting to be able to have scope not included) too, and that I can't just change the server behavior I'm trying to hit, as it is controlled by a company (Bungie): https://github.com/Bungie-net/api/wiki/OAuth-Documentation

FWIW bungie is denying my call altogether because it has 'scope' in the url

I'm a noob at implementing oauth, and a

[2019-09-17 11:56] senzacionale opened #627 "Facebook login. What is issuer?"
It is very easy to add Google login but there is a problem with Facebook because you need OpenId Discovery which is not supported by Facebook.

[code]

What is issuer for Facebook?

[2019-09-17 12:36] jeroenheijmans commented on #627
This seems more like something to ask at the Facebook support forum/platform/helpdesk?

[2019-09-17 12:42] senzacionale commented on #627
They said that openid discovery does not exist. Is it still possible to use fb?

[2019-09-17 13:14] jeroenheijmans commented on #627
Sure thing. You need to provide all configuration yourself then, and not call the 'loadDiscovery...' methods, but tryLogin and so forth immediately. Might be useful to use the NullValidationHandler too, as configuring all the jwks details can be cumbersome.

[2019-09-17 13:22] jeroenheijmans commented on #627
This might help: https://manfredsteyer.github.io/angular-oauth2-oidc/docs/additional-documentation/configure-library-for-implicit-flow-without-discovery-document.html

[2019-09-17 22:13] coltonneil commented on #511
I am running into the same issue with a bare bones implementation of the oAuthService (the code below is everything I have)

auth.config.ts
[code]
app.component.ts
[code]
I was able to resolve it by not using the tokenValidationHandler at all
[code]

Doing it this way works for me and I am able to get my id_token so it seems to me that you aren't meant to use a tokenValidationHandler when using re

[2019-09-18 01:23] jfyne opened #628 "Ory Hydra cannot parse the base64 encoded code_verifier parameter on token request"
**My Problem**
I am trying to implement Code Flow + PKCE, using Ory Hydra as my identity provider. I am unable to retrieve a token. I believe the problem originates with this library and the way it generates the `code_verifier` parameter for token request (although I am not certain).

My config:
[code]
What works so far is the redirect to login with `initCodeFlow()`, I am redirected back to my ang

[2019-09-18 08:10] jeroenheijmans commented on #628
Interesting. I've seen this library work with at least IdentityServer4, and I believe others used other IDSes successfully with code/pkce.

You mention that "[the code is] 33 characters at the mooment" but I count 46 in the one you posted, which is more than [the required minimum of 43](https://tools.ietf.org/html/rfc7636#section-4.1).

Is it possible that this is a problem with your IDS implement

[2019-09-18 11:58] jfyne commented on #628
Hi @jeroenheijmans thanks for the help. After I wrote this I actually tried switching out my Hydra endpoint and client ID with the one you have (I think I found your example repo), and it worked completely correctly.

Sorry for the confusion, the encoded string is indeed not 33 but actually 45 long which I think comes from here https://github.com/manfredsteyer/angular-oauth2-oidc/blob/master/proje

[2019-09-18 14:46] jeroenheijmans commented on #628
Okay let us know what you find, and whether we might close this issue for now until we know the culprit is on the angular library side?

[2019-09-18 15:24] jfyne commented on #628
The more I look at this, the `createNonce` function is both generating a random number and then base64URL encoding it but not using the built in `btoa`. Could it be that this homegrown base64 encoding is not producing a valid base64URL encoded string that the Go standard library cannot parse?

[2019-09-18 15:42] jeroenheijmans commented on #628
I think this is on purpose. Base64 is just that, and base64 _url-encoded_ is something else. The latter is required by [the spec](https://tools.ietf.org/html/rfc7636#section-4.1). In fact, part 4.2 of the spec adds even more 'magic' to this, for fully compliant implementations.

It _might_ be that your server only supports `plain` instead of `S256` for PKCE? I'm not sure if our library supports bo

[2019-09-19 12:12] jfyne commented on #628
Hi @jeroenheijmans after reading the spec, I am close to convinced the `createNonce` function is the culprit here. I created a PR #629 to change how it is implemented to follow what is mentioned in the [spec](https://tools.ietf.org/html/rfc7636#section-4.1). Ory Hydra does support S256, you can see the implementation [here](https://github.com/ory/fosite/blob/master/handler/pkce/handler.go#L176-L20

[2019-09-19 15:10] Jejuni opened #632 "Code Flow erroring out due to multipe expiry events"
**Describe the bug**
When OAuthModule is set up, on initial app load, the code flow behaves as expected. Redirection occurs as expected, tokens are stored in sessionStorage (as per default) and refresh token usage works as expected as well (at 75% life of token, refresh token is retrieved from storage and sent to IdP to get new tokens).
When the user now hits F5, the flow initiates, but the "token

[2019-09-19 15:12] manfredsteyer commented on #622
Ah, good point @jeroenheijmans.

[2019-09-20 13:27] jogelin commented on #196
any news for this issue ? Indeed it really heavy in my webpack analyze...

[2019-09-20 13:45] sburton84 opened #633 "Expiry (`exp`) field inside access token is ignored"
**Describe the bug**
When receiving an access token only the `expires_in` field in the OIDC response is honoured, if there is an `exp` field within the access token JWT itself this is ignored, which results in no expiry being stored if there is no `expires_in` field, even when the expiry is specified in the JWT.

**To Reproduce**
Steps to reproduce the behavior:
1. Obtain a token response that has

[2019-09-20 13:56] jeroenheijmans commented on #633
Related to #324 though I'm not sure if this was ever resolved or not? The comments there suggest so, but your repro suggests it doesn't...

[2019-09-20 14:08] sburton84 commented on #633
Ah, I didn't see that issue, it does sound like the same thing. It sounds like they just worked around the issue by using `hasValidIdToken` as well as `hasValidAccessToken`, but this is only a workaround as the two tokens aren't necessarily guaranteed to have the same expiration.

[2019-09-20 15:47] rsivan commented on #430
Hello bvorjohan: I too am trying to use this module with Spotify, however I am getting an Illegal Scope response.
Can you share your code?

Thanks

[2019-09-23 12:19] gingters commented on #594
@jeroenheijmans With all due respect, but I consider this a bug, and not a feature request.

This is an oidc library for angular applications, and while not being the default, angular provides the hash location strategy out of the box and it is commonly used. So every developer of an angular lib should be very aware that query strings in an angular application can come after a hash.

A more angula

[2019-09-23 12:33] jeroenheijmans commented on #594
Something has to be changed in a PR to make a specific scenario work, I'm not too fussed whether we label it a 'bug' or a 'feature' 😄 - I've changed the label.

[2019-09-23 12:36] gingters commented on #594
Hehe, I mean, there is a claim on the readme stating that its tested with hash location strategy ;)
I will try to get something done here.

[2019-09-23 12:53] jeroenheijmans commented on #594
Hah fair point :)

I think the readme is from some time ago, and the Code Flow was integrated via community-provided PRs that omitted this part.

Would be nice if you could add a PR. (Note that while I try to keep an eye on GH issues, it's Manfred who typically takes some time every few months to merge PRs and create a new release. So could take a bit before anything gets integrated.)

[2019-09-24 05:58] jeroenheijmans commented on #632
Thanks for the extensive details! I recall seeing similar issues (or at least: ones with similar symptoms), but can't find them at the moment...

[2019-09-24 06:06] jeroenheijmans commented on #625
Hmm, this seems pretty weird to me. If you only call `loadDiscoveryDocumentAndTryLogin` then only "_try_ Login" is called, which does not actually send you to the IDS, but just tries to grab the details from the URL (nonce, tokens, etc). If you open the app the second time, the URL should contain none of those details.

Could you try to create a more detailed reproducible scenario, e.g. on StackBl

[2019-09-24 07:32] gingters commented on #594
I will ping Manfred. Hope he can get a bugfix release out a tad faster ;)

[2019-09-24 07:43] mehmeterdemsoy commented on #632
I see same behaviour in our application. We think the problem is in de setupSilentRefreshEventListener method. During refresh, tryLogin().. happens asynchronously so window.addEventListener('message', this.silentRefreshPostMessageEventListener); gets called before the asynchronous method finishes and replaces the tokens. Calling this method fires the second "token_expires" event.

----------------

[2019-09-24 09:20] gitreelike commented on #446
@silamon Thank you for pointing [that](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/master/projects/lib/src/oauth-service.ts#L1386-L1388) out. Though we also missed out on [this](https://manfredsteyer.github.io/angular-oauth2-oidc/docs/additional-documentation/routing-with-the-hashstrategy.html).

Setting up both leads to a working system.

[2019-09-24 13:07] gajusp opened #635 "Not able to pass clientSecret param in payload"
**Describe the bug**
I was trying to call Uber API, so after authorize api uber calls to token api to get token in this token api it sends clientSecret in payload, so clientSecret is not present in AuthConfig class

Could you please help me, how to pass clientSecret param in payload.

Thanks
Gajanan

[2019-09-24 15:32] jeroenheijmans commented on #635
Your issue is slightly hard to read, it would help if you add a minimal repro so we can get the same context you have.

Either way, you might be looking for [`dummyClientSecret`](https://manfredsteyer.github.io/angular-oauth2-oidc/docs/classes/AuthConfig.html#dummyClientSecret)? I've never used it, so am not sure when it's supported and when it's not. Either way, using secrets is _not_ safe in SPA

[2019-09-24 17:08] gajusp commented on #635
@jeroenheijmans : Thank you.

Got resolved by adding below param in auth config object

  customQueryParams: { client_secret: '***********' }

[2019-09-24 17:08] #635 closed

[2019-09-24 18:52] thampton opened #636 "8.0.4 tag doesn't exist in github"
**Describe the bug**
Why is there no tag in github for 8.0.4. Is it the same release as 8.0.2?

**Expected behavior**
A tag for 8.0.4 exists in github.

[2019-09-26 13:23] mjisaak commented on #494
I wrote a blog post about how to use the component with Azure AD B2C:
https://about-azure.com/2019/09/26/using-azure-ad-b2c-with-angular-8/
The post includes a live demo and the source code. Hope that helps you.

[2019-09-26 20:41] coltonneil opened #637 "Emit token_expires if token has already expired"
Current behavior:
A new visitor comes to my site, I configure OAuthService and get an access token. After a certain amount of time decided by my timeoutFactor OAuthService emits 'token_expires'. (as intended)

A visitor comes BACK to my site after some time and their token has already passed the timeoutFactor  (but is not yet expired). OAuthService does not emit 'token_expires'.

Suggested solutio

[2019-09-26 22:21] rvishna opened #638 "Authorization code flow with django social rest auth"
My setup is an angular 8 frontend with a django 2.2.5 backend which uses rest auth with social login through Microsoft AD. Here's what I would like to achieve:

- Use an authorization code flow in my angular app to get the code (not sure whether this will be in the form of a redirect url, popup window or an iframe...)
- Send the code through a post request to my django backend, which will then cal

[2019-09-27 07:40] John0King opened #639 "code in readme.md cause cyclical redirct"
server, you can use the convenience function this.oauthService.loadDiscoveryDocumentAndLogin(); instead of this.oauthService.loadDiscoveryDocumentAndTryLogin(); when setting up the library.

after use `this.oauthService.loadDiscoveryDocumentAndLogin()`  , the app into an infinity  redirct circulation

[2019-09-27 08:35] jeroenheijmans commented on #638
Sounds like you want a proxy for the actual Code+PKCE flow stuff. An interesting idea, but this library is all OpenID/OAuth2 standards based, not sure if you'd have (powerful) enough interception points to realize the flow you want. Either way, there's no guidance at this moment, if you do decide to build is be sure to let us know where we can find the tutorial :D

[2019-09-27 08:36] jeroenheijmans commented on #637
I don't have time right now to search for them, but I'm sure there's other related issues, or even PRs to improve  this already.

[2019-09-27 08:43] jeroenheijmans commented on #639
The `loadDiscoveryDocumentAndLogin` method does two things:

1. `loadDiscoDoc...:` call the well-known endpoint at the identity server for the discovery document; after that promise resolves it goes to...
2. `...AndLogin`: which immediately redirects you to the login endpoint of your identity server

So if you _always_ call that method at the start of your application, then you'd indeed keep getti

[2019-09-27 16:15] rvishna commented on #638
Here's how far I've got with this: I followed the documentation on Code + PKCE flow. In my login component constructor, I call `this.oauthService.loadDiscoveryDocument()`. I have a button in the component that calls `this.oauthService.initCodeFlow()` when clicked. When this button is clicked, it takes me to the Oauth provider's sign in page, which then redirects to my login page with the 'code' in

[2019-09-28 13:18] medokin opened #640 "Status of jsrasign dependency and resulting bundle size?"
Hi, the description says that jsrasign should be replaced in a past release to lower the bundle size. This seems not to be done.

Should we update the readme with a clarification?

Is there a technication reason why jsrasign is not removed?

[2019-09-28 18:48] jeroenheijmans commented on #640
Some observations:

- JSRASIGN was removed in 5.0.0, but brought back in 5.0.2 when [it turned out there were unforeseen problems](https://github.com/manfredsteyer/angular-oauth2-oidc/issues/460#issuecomment-432761342)
- the start of the README indeed still has [this change from 5.0.0](https://github.com/manfredsteyer/angular-oauth2-oidc/commit/1eec310a188288e97cadffac7de1f592b187d153#diff-04c6e90

[2019-09-29 01:45] John0King commented on #639
when use openid for a server side app,  normally the server side app has a callback path for handle openid signin, and another path for handle signout , and those two path will redirect to then path belong to the app, for example `/`.

this is how openid work in an asp.net core app:   note: `~/`  meaning it is the root path of the current app (if the current root path is `/`  it will be `/`  , if

[2019-09-29 07:18] jeroenheijmans commented on #639
I'm not sure what you're exactly asking or telling us? If you need more help, or think you've found a bug, could you please provide a way to reproduce?

(Specifically, I'm unclear why you compare with server side apps, this lib is prmarily used in Single Page Applications

[2019-09-29 08:43] John0King commented on #639
The reason I compare with service side app (asp.net core ) is because  in asp.net core it difine a very easy to use  and flexiable way to use the OIDC protocal ,   I'm hoping  that can be implement in this library too.

I'll contribute to this library when I get free time.

[2019-09-30 12:25] LeonardoDavinci opened #641 "Unhandled Promise rejection: Failed to read the 'sessionStorage' property from 'Window': Access is denied for this document"
**Describe the bug**
When a user blocks a site from saving data, the whole angular app crashes when using the library.

**Stackblitz example**
Any app that uses the library, and has blocked the site from storing data in chrome.

**To Reproduce**
1. Block the site from accessing data. Go to chrome://settings/content/cookies and add the domain in the block section.
<img width="678" alt="Screenshot 2

[2019-10-02 10:07] jonyeezs commented on #639
I noticed that it'll send a request to the identity server and redirect back to the app with a hash param of the id tokens but looks like it never gets registered/loaded/consume before it hits the bootstrapped component. Is there something missing here?

[2019-10-02 12:51] jeroenheijmans commented on #639
`tryLogin` is the method that would grab the token (implicit flow) from the hash fragment, clear the hash, and then continue parsing/storing the result. Call that explicitly, or call an method that ends with it (e.g. `loadDiscoveryDocumentAndTryLogin()`.

I've not found the `loadDiscoveryDocumentAndLogin()` method to be useful in any application myself. I think you'll _always_ want to check the ha

[2019-10-04 11:32] apansky opened #642 "discovery_document_load_error in IE Edge"
Hey,

i believe this error was mentioned here multiple times, but im keep getting it all the time. I created clean angular app (version 7.3.9 and then 8.2.8), no other dependencies, and error remains in IE EDGE (chrome and firefox is OK).

[code]

Whatever i do, i still get `discovery_document_load_error`.

![image](https://user-images.githubusercontent.com/4669789/66204510-4a308280-e6ab-11e9-93fb

[2019-10-04 14:12] MartinKuhne opened #643 "how to read token claims in implicit flow"
**Describe the bug**
I am setting up a prototype with implicit flow and optional login. I does redirect, but I am having trouble understanding the code flow to read and store the user information.

**To Reproduce**

Header.Component.html

`<button class="dropdown-item" *ngIf="!givenName" (click)="login()" >Log in btn</button>`

Header.Component.ts

[code]

UserService.ts

[code]

**Expected behavi

[2019-10-04 15:09] jeroenheijmans commented on #643
If I recall (and read your code) correctly, calling `loadUserProfile()` at the right moment is what's perhaps missing? Along [these lines](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards/blob/e536a89d4e9e4dc2366ba7c594d79ca54bca07ca/src/app/core/auth.service.ts#L73). Does that help?

[2019-10-05 13:44] thxmike opened #644 "How to introspect token before completing login?"
**Describe the bug**
In conjunction with this library I am trying to find the best place to introduce, token introspection. After the login process I would like to introspect the token before going to the application. If the introspection fails, I want to fail the login. If the introspection succeeds I want to go to the application. My initial thought is to use this libraries interceptor but I was

[2019-10-06 07:07] jeroenheijmans commented on #644
A quick initial thought: could you use injecting your own `TokenValidationHandler`?

Either way, it would help if you could provide a sample use case. That'll make it easier for community members to suggest a solution.

[2019-10-07 06:58] Anandharaj commented on #315
@manfredsteyer
"assets": [
              "src/silent-refresh.html"
],

How I can configure the same for Angular 4 version which doesn't have  .angular-cli.json

[2019-10-07 12:41] jonyeezs commented on #639
@jeroenheijmans is right.

I think what threw us off was the method name "`...Login()`". We assumed it was checking to see if we were authenticated, if not send us to the login page.

But all it did was to check if the request had the correct hash fragments to obtain the access key.

Steps we took that works:

1. use `loadDiscoveryDocumentAndLogin` for the page that would be redirected from the lo

[2019-10-07 14:38] jeroenheijmans commented on #639
Good to hear you've found a solution. Shall we close this one then? Or will you suggest a PR with a change to readme to clarify things further? Either's good to me.

[2019-10-07 15:15] StefanKoenigMUC opened #645 "Usage of NGXLogger"
Dear all,

I'm not fully sure if my problem is related to angular-oauth2-oidc or to NGXLogger, but somehow im tending to OAuth.

I'm using angular-oauth2-oidc for authentication within my .net core backend, which is working fine so far. Additional to this, I'm using NGXLogger for remote logging.

My AuthModuleConfig looks like this:
[code]
and my remote logging configuration for NGXLogger like tha

[2019-10-08 01:24] jonyeezs commented on #639
Would love to put a PR in. And get that for hacktoberfest heh

On Tue, 8 Oct 2019, 12:38 am Jeroen Heijmans, <notifications@github.com>
wrote:

[2019-10-08 08:26] raj-298585 commented on #209
Finally found this thread to help me out after scratching my head for 2 days. Just wanted to say thanks to @ahmadakra

[2019-10-08 09:27] lfongaroScp opened #646 "Code flow in angular and refreshtoken"
Hi,

I read the documentation to configure the client oidc, here:
https://manfredsteyer.github.io/angular-oauth2-oidc/docs/additional-documentation/code-flow-+-pcke.html

I use the code flow, not implicit flow.

but I have some problem after the user authenticate in the identity server and he is redirect to the angular client.  In the console it show me the error "Bad request: 400. invalid_grant"

[2019-10-08 11:09] jeroenheijmans commented on #646
If you get an `invalid_grant` message, then your server is not set up to do Code Flow with PKCE from the origin you're coming from (I think/suppose/guess).

[The relevant RFC suggests](https://tools.ietf.org/html/rfc6749#section-5.2) this explanation for when servers should respond in that way:

Your usage of this library at first sight seems okay, so I'd look for a solution in reconfiguring the s

[2019-10-08 14:42] lfongaroScp commented on #646
Hi,

Thanks for the reply. The server can use Code flow with PCKE (it is an identity server 4) and, of course, the client is set to use it (server side and client side).

I try to obtain more information about the problem:
1) If I manually refresh the page  the user obtain his claim abd the access token
2) I put (it's just a try, I'm not very skilled about authentication) this.oauthService.initCod

[2019-10-08 14:57] jeroenheijmans commented on #646
Your `...AndTryLogin()` call should lead to [this code that handles code flow info in the URL hash fragment](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/a1652dc58e38377ce1e352feafb9656136e98fa0/projects/lib/src/oauth-service.ts#L1398), and I presumed the `invalid_grant` comes in response to the code being exchanged for a token?

You could try to compare your approach with [my attempt

[2019-10-08 20:27] jeroenheijmans commented on #644
I'm not sure if I follow. The RFC you mention starts with:

but an Angular application is not a "protected resource". That resource would be the API you're calling with a token.

Either way, the client can of course _also_ validate the token, see it's not been tampered with. You could implement your own validation by providing an implementation of the aforementioned `TokenValidationHandler`, or yo

[2019-10-09 11:41] se-panfilov opened #649 "Question: Should I clear localStorage each time if I use it as a default storage?"
I can't use sessionStorage due to [Edge's issue with intranet/itnernet zones](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/13861050/), so I switched to localStorage:

[code]

**But the question is**: shall I take care about manual wipe localStorage on tab close? I mean it will be more or as sessionStorage behaves, but I didn't found any info if that's really necessary.

[2019-10-09 12:22] jeroenheijmans commented on #649
That's up to you. There's no specific guidance or documentation in this library around that, and I'd personally think that's not really needed either.

If you `provide: OAuthStorage` you can provide any service, including your custom implementation that wraps localStorage with the added feature you mentioned, should you need it.

Does that help?

[2019-10-09 12:32] se-panfilov commented on #649
My main doubt here is following: I asked myself - what is the reason to use a `sessionStorage` over a `localStorage` as a default storage? I assume it's a built-in "auto-clean-on-close".
That makes me think that I might add some security vulnerability I'm not aware of.

In the other hand I don't want to do some extra job either.

@jeroenheijmans Thank you - it does. At least one more opinion and i

[2019-10-09 12:34] #649 closed

[2019-10-09 15:49] pbessone commented on #437
Just in case it helps anybody, we were having the same issue and I traced the problem all the way to our interceptor.

Basically on the interceptor we were setting the Authorisation header whenever we had a valid access token, for all requests, and for some reason this was making the call to the token endpoint fail.

We now simply skip doing anything with the request if it's going to the identity

[2019-10-10 12:31] GopalZadafiya commented on #352
@jeroenheijmans , This is happening with me too but only in IE, Edge and Desktop web -add in. for Chrome It is working. Should the above solution work for me ?

Moreover, I am getting the below error(Access Denied) in IE, edge:

![Screenshot (263)](https://user-images.githubusercontent.com/13184438/66568765-bc133b00-eb87-11e9-9ddd-56cb714dee02.png)

[2019-10-10 16:47] jeroenheijmans commented on #435
@jesc6417 Alas, I can not. You should check with the documentation and/or user group of the identity server solution you're using.

[2019-10-11 05:44] GopalZadafiya opened #650 "this.oAuthService.hasValidAccessToken() always returns false in IE and Egde"
I am using **angular-oauth2-oidc** library to authenticate my web add in across **Identity Server 4** along with **Office Dialog API**.

In Microsoft Edge and Internet Explorer when I check `this.oAuthService.hasValidAccessToken()` [even this.oAuthService.hasValidIdToken()] It always returns false.

Whereas In Chrome It is working fine without interruption.

Here is the code I am using app.compone

[2019-10-11 14:19] danmana commented on #444
This bug is not longer present in version `8.0.0`

[`setupAutomaticSilentRefresh()`](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/8.0.0/projects/lib/src/oauth-service.ts#L173)
calls `this.restartRefreshTimerIfStillLoggedIn();`
which calls `this.setupExpirationTimers();`
which calls `this.setupAccessTokenTimer()`
which uses `const timeout = this.calcTimeout(storedAt, expiration);`
whic

[2019-10-14 05:22] pmrgithub opened #651 "When does sessionChecks trigger the session_terminated event?"
Enabled the sessionChecks true but unable to receive the "session_terminated" event. where we have to put this event to get triggered?

[2019-10-14 12:01] andifalk opened #652 "Documentation for AuthConfig.useHttpBasicAuth is wrong/incomplete"
**Current behavior**
The documentation for _AuthConfig.useHttpBasicAuth_ describes: "Set this to true to use HTTP BASIC auth for **password flow**"

**Expected behavior**
The documentation should make clear that setting _AuthConfig.useHttpBasicAuth_ to '_true_' enables BASIC auth for the **authorization code grant flow** as well.

Additionally, the question is why _AuthConfig.useHttpBasicAuth_ is

[2019-10-14 20:52] jeroenheijmans commented on #652
Thx for pointing that out! I didn't know that it was also used for other flows, if it's there for Code flow it might be there for Implicit too? Do you happen to have a link to the point in code where it happens?

Either way, given that it does, updating the docs seems like a good plan!

To your second remark, it is about the auth _server_, not the client where you'd use this library. Under most ci

[2019-10-16 04:23] pfbrowning commented on #493
This issue affects me as well.  An added wrinkle is that if you perform a silent refresh while there's an Angular Material Dialog open, the dialog closes itself (presumably due to the added `#` in the url).

My workaround is to turn off `clearHashAfterLogin` after processing the initial login:
[code]
You can set `clearHashAfterLogin` in your configuration.  However I'm waiting until after a succes

[2019-10-16 04:32] pfbrowning commented on #408
@shambarick I've posted a workaround to this in #493.  In short, you can side-step the issue by turning off `clearHashAfterLogin` after processing your initial login.

[2019-10-16 12:05] david-stranders opened #653 "Error getting access-token when using code flow + pkce"
Hello,

I'm trying to use the library with the code flow + pkce. I use Azure AD B2C as identity provider. For testing purposes, I have created a new test app (Angular 8), with the following code in the AppComponent:

[code]

When browsing to http://localhost:4200, it does redirect to the oauth server login page (login.microsoftonline.com/...) and after having logged in succesfully, it redirects ba

[2019-10-16 12:16] adrianbenjuya commented on #414
Based on the links @jeroenheijmans shared and on what this package offers I came into a solution for retrying requests that have failed with 401 error. I had to create an additional interceptor for errors but I'm not that happy to have to manually set the authentication token by myself again, since that feature is already present in the `DefaultOAuthInterceptor`. Here my solution

[code]

[2019-10-16 15:43] lfongaroScp commented on #646
Hi,

sorry for the lack of update.
My approach is based on your attempt :)

Tomorrow I can try another time with another approach.

[2019-10-16 16:24] lfongaroScp opened #654 "Silent refresh with implicit flow do not reload all the claims"
**Describe the bug**
As the title said when the auth_token expire and the client oidc and call a silent refresh it does not reload all the claims, but only the claims related to the auth_token

**To Reproduce**
Steps to reproduce the behavior:
1, In AuthConfig set a low timeoutFactor (like 0.05)
2. Log in the angular app and load the userProfile
3. Check the claims
4. wait for a silent refresh
5.

[2019-10-16 17:50] jeroenheijmans commented on #654
Quick question: would you consider this possibly related to- or even a duplicate of #514?

[2019-10-16 18:00] jeroenheijmans commented on #653
Thx for the extensive report, sorry to hear you're having trouble.

Nonetheless, a rather specific server setup seems needed to reproduce the issue (at least, I've never seen this case before with other IDS solutions) - so we might be relying on you or another community member with easy access to the same setup to debug this problem...

[2019-10-18 09:09] NeelBhatt commented on #255
You saved my day, thanks.

[2019-10-18 15:53] lfongaroScp commented on #654
Hi,

I forgot to mention in the post:
This problem occur in a project that use implict-flow
I see the same problem in a project with Code flow.

I doubt it is related to #514 because the problem (bug?) is different. In my case it does not reload the claims at all, if I force the reload the claims are correct

A possible workaround is this:

[code]
But i am not sure it's the best way to fix the pro

[2019-10-18 16:00] lfongaroScp commented on #646
Hi, a co-worker report me this problem in the same project:

That's strange, I do not use password flow (I post my auth.config.ts ). I am not very skilled about OAuth, I hope i do not misunderstand something important.

[2019-10-21 10:14] LeonardoDavinci commented on #641
Just found out that there is an easy fix. Just add a try catch around the access of session- / localstorage. Because e.g. `"undefined" != typeof sessionStorage` already gives the security exception.

[2019-10-22 12:49] dirkbolte commented on #260
I ran into the same issue. In my case, I was using plain oauth instead of OIDC, so I had no discovery document and had to configure various parts myself. In my case, I got the error because a call to http was done with an empty URL as I hadn't configured the tokenEndpoint. The issue went away as soon as I had it configured. Furthermore, I had to adjust the setting as the default one for requireHtt

[2019-10-22 19:23] maxisam opened #657 "postMessage interfering issue"
**Describe the bug**
on https://github.com/manfredsteyer/angular-oauth2-oidc/blob/a1652dc58e38377ce1e352feafb9656136e98fa0/projects/lib/src/oauth-service.ts#L825
and https://github.com/manfredsteyer/angular-oauth2-oidc/blob/a1652dc58e38377ce1e352feafb9656136e98fa0/projects/lib/src/oauth-service.ts#L938

If there is another postmessage popping pup, it will be caught by the event listener and set me

[2019-10-24 03:12] urdarinda commented on #646
I have the same problem, Even though I use code flow, I get password flow error

[2019-10-24 21:41] KyleWormsbacher opened #658 "Access and ID Tokens are null"
I am having some intermittent issues implementing a connection to our identity server. Calling `initImplicitFlow()` is redirecting to the identity server I am able to login and its redirecting back to the SPA then in **auth.guard.ts** when I call `getAccessToken()` or `getIdToken()` more often then not they are both null.

After hitting login I can see the tokens in the redirect url after being au

[2019-10-25 15:35] MarkTielemans commented on #658
I have this exact issue. Although I've not yet seen a successful login.

[2019-10-28 15:43] alecrt commented on #654
The real problem is that on automatic refresh the storage (and so claims) are overwritten with id token claims.
When only very few claims live in Indentity token and most of them are loaded through userprofile endpoint that cause a problem.

[2019-10-29 21:15] unlight commented on #196
https://bundlephobia.com/result?p=angular-oauth2-oidc@8.0.4
[code]

[2019-10-30 14:25] cec commented on #646
Same happens to me

[2019-10-31 21:13] manfredsteyer commented on #632
I'm not sure, if this is the reason b/c `setupSilentRefreshEventListener` is used for implicit flow and the bug seems to occour for code flow.

@Jejuni Did you find a solution or do you have a proposal for a solution.

I'll look into this when making the next version ready, which will be soon b/c of Angular 9.

[2019-11-02 17:42] Jejuni commented on #632
Hey,

the bug happens with both implicitFlow as well as code flow. The initial request is sent twice. This doesn't overly affect implicitFlow as it's just incurs an additional trip to the IdP.

Sadly we haven't implemented any satisfactory solution as of now.
Our workaround is to set the refreshTokenUsage to "ReUse" so that only 1 refresh token gets generated and we don't have to deal with potenti

[2019-11-04 03:43] dalu commented on #653
I'm using keycloak idp with ngrx and when doing code flow I get neither access token nor identity claims.

Removing the `response_type: 'code'` then works as expected.

[2019-11-04 22:54] thxmike opened #661 "Does Authorization Code Flow work with loadDiscoveryDocumentAndLogin();"
**Describe the bug**
I recently had a requirement to move over to using Authorization Code Flow.
So I used the documentation located here
https://manfredsteyer.github.io/angular-oauth2-oidc/docs/additional-documentation/code-flow-+-pcke.html
However, I do not have an explicit login button, so I have the user automatically redirected to the identity login screen. So I use this.oauthService.loadDisc

[2019-11-05 03:08] calleufuzi commented on #661
I have a same issue, do anyone have a idea?

[2019-11-05 07:15] dalu commented on #661
Correct, that is the issue:
https://github.com/manfredsteyer/angular-oauth2-oidc/blob/master/projects/lib/src/oauth-service.ts#L228
it doesn#t check if `response_type` is `'code'` and thus does only implicit flow

[2019-11-05 09:27] manfredsteyer commented on #632
I see. I'll find a solution for the next major version which lands very soon (as Angular 9 is already RC).

I make this a priority! It's important for security and to align with current best practices.

Also thanks to @biophoton for pointing me to this!

[2019-11-05 11:35] Andreas-Hjortland opened #662 "Implicit flow login popup dialog may be positioned on the wrong monitor on multi-display systems"
**Describe the bug**
When I try to log in using `initImplicitFlowInPopup` on the `OAuthService`, the popup dialog will always appear on the center of my primary monitor or if the browser disallows poups crossing monitor boundaries on the edge towards the primary monitor even if the browser window with the angular application is on another monitor.

**Stackblitz example**
https://angular-tipncx.sta

[2019-11-05 15:20] KyleWormsbacher commented on #658
I figured it out. The config I provided was cleanup up a but from the actual code in the project. Basically both `requestAccessToken` and `oidc` were set to true in the config and the identity provider can do one or the other but not both. I removed `requestAccessToken: true` and everything looks to be working.

[2019-11-05 15:20] #658 closed

[2019-11-05 18:11] manfredsteyer commented on #661
Thanks for this pointer and this great analysis of the issue.

I'll make this a priority for the next version which will land very soon.

[2019-11-05 18:13] manfredsteyer commented on #657
Thanks for pointing this out. Will take care about this in the next version (which will land very soon).

[2019-11-05 18:28] manfredsteyer commented on #662
Thanks for pointint this out. A PR is very welcome!

[2019-11-05 18:30] manfredsteyer commented on #640
The next version will work without JSRASIGN when using Code Flow (which is the recommented flow since some months) or Implicit Flow w/o Token-validation.

[2019-11-06 06:49] mehmet-erim opened #663 "Can you add hasValidAccessToken$ stream?"
Sometimes I need the access token valid status in HTML. In such a case, I add a getter to class like this:
[code]
and I use this getter in the HTML as shown below:
[code]
It's okay but if you add a boolean observable, it will consume less resource.

If there is a observable like this:
[code]

We can use this observable in the HTML with async pipe
[code]

[2019-11-06 10:27] Andreas-Hjortland commented on #662
No problem. I created a pull request in #664

[2019-11-06 14:34] CedricHg commented on #424
I got this working using @jeroenheijmans suggestion in this thread https://github.com/manfredsteyer/angular-oauth2-oidc/issues/424#issuecomment-419713360

But, I did have to call `decodeURIComponent` on the state before navigating:

[code]

[2019-11-06 21:27] skruegs commented on #432
We are experiencing the same issue where we want to refresh only on `access_token` expiration, but only the `id_token` timer is set. Is there a plan to merge @harmpauw's PR anytime soon?

[2019-11-07 13:56] Andreas-Hjortland opened #665 "The OAuthService doesn't clean up all used resources when it is destroyed"
**Describe the bug**
If you destroy the `OAuthService`, for instance through destroying the angular app, the attached event listeners and the sessionCheckTimer will still continue to run.

**Stackblitz example**
https://angular-abivfc.stackblitz.io/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the stackblitz. You might need to change of fix the issuer configured in [app.component.ts

[2019-11-07 13:58] Andreas-Hjortland commented on #665
The issue isn't that you get the "Cannot read property 'contentWindow' of null", but rather a symptom of the underlying issue that we haven't cleaned up all the resources that we allocate

[2019-11-07 14:15] Andreas-Hjortland opened #667 "Add a convenience method to log in and remember url that the user returned from"
**Is your feature request related to a problem? Please describe.**
It would be nice to have a convenience method that redirects the user to the identity server and remembers the url the user was redirected from in the state param when we return to the angular app.

**Describe the solution you'd like**
I would like that `loadDiscoveryDocumentAndLogin` to expose the `additionalState` parameter when

[2019-11-08 10:09] hhector2 opened #668 "SID is not informed after user consent with Authorizaton code flow"
**Describe the bug**
SID is not informed after user consent with Authorization code flow

**To Reproduce**
Steps to reproduce the behavior:

Following directly the indications from the Readme to setup Auth code flow, after introducing the user consent, I obtain the following error:
Invalid request. The authorisation session identifier is missing.

**Expected behavior**
It should proceed to the nex

[2019-11-11 11:05] mliotinoca commented on #9
I continue to encounter the issue on any browser.

[2019-11-11 12:54] jeroenheijmans commented on #9
@mliotinoca This is a very old issue, I recommend opening a fresh one (referencing this one) with fresh steps to reproduce the issue, so we can investigate if it's a regression or a new kind of issue.

[2019-11-13 10:21] mliotinoca opened #669 "Single-Sign-Out don't log out all B2C client applications where logged via SSO in same browser"
OAuthService.logOut.logOut() logs out the user from the B2C client application in which is logged in via Single-Sign-On, but not in other client applications of same tenant (logged in the same browser, via the same SSO). Indeed, in these other applications it is possible to continue calling protected APIs instead of redirecting out the user to the login page.

Steps to reproduce the behavior:
1. L

[2019-11-13 15:30] jeroenheijmans commented on #669
If the apps are truly separate, you have to rely on "session checks" for this. You can do this by setting `sessionChecksEnabled: true` in your config. Then events will be raised in "the other app" indicating that the user logged out, e.g. events of type `session_terminated`.

To summarize:

[code]

[code]

At any rate, you need to write application logic for what happens in this scenario. The libr

[2019-11-14 17:51] mliotinoca commented on #669
Hi Jeroen,
thank you for replying.
I followed your repository project as an example:
https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards
summarily where the code is similar to what you posted above.
Events 'session_terminated' and 'session_error' are never triggered; I also notice the following warnings in the console log:
`sessionChecksEnabled is activated but discovery

[2019-11-14 18:24] jeroenheijmans commented on #669
Ah, yes, this is an _optional_ part of the OIDC spec if I recall correctly. So your identity _server_ may not support it, or at least not make it discoverable.

Some servers do, as for example IdentityServer4. You can see in [their demo discovery document](https://demo.identityserver.io/.well-known/openid-configuration) that they publish:

[code]

which is needed for all this.

I think the spec [i

[2019-11-15 06:48] indukaur commented on #455
Hello,
How did you make it worked?
I am also getting "Automatic silent refresh did not work"

In network, i can see a call to /authorize method and return is 400, also in parameters i can see it being redirected to my silent.html

Could you please help?

[2019-11-15 08:19] ChristophWieske commented on #218
I had this issue as well and was able to solve it.

The problem I had was that the frontend accepted http-requests the redirect on the other side pushed the user to the https-adress. So initImplicitFlow pushed the nonce (in my case) to the local storage but when it came back the local storage was empty (different url).

Changed the frontend to run https only. Everything is fine now.

Check that ou

[2019-11-15 08:40] ChristophWieske commented on #218
@manfredsteyer maybe a good approach to output console warning when `initImplicitFlow` is called when `location.host != redirectUri.host`. That would leed to the issue behavior everytime, doesn´t it?

[2019-11-15 12:05] smil2k commented on #484
"+"  is also working fine, whilst not allowing access from everywhere, just from the registered callback urls.

[2019-11-15 14:32] Gerrit-K opened #670 "JWKS key identification by header "x5t""
**Is your feature request related to a problem? Please describe.**
We have an oidc endpoint that returns id_tokens with only the "x5t" field in the token header (no "kid" field). Due to an upcoming certificate rotation, the jwks endpoint started to serve multiple keys (the old one that is expiring soon and the new one that is going to replace it). At this point, this library failed for us, with th

[2019-11-16 09:55] Anandharaj opened #671 "Configuring silent-refresh asset on Angular 4.4.6's webpack"
I'm getting this error for silent refresh 'silent_refresh_timeout'.

[code]

How I can configure the same for Angular 4.4.6 version which doesn't have `.angular-cli.json`?

[2019-11-17 14:53] jeroenheijmans commented on #671
I recommend turning to Stack Overflow or similar for more generic questions (e.g. how to serve a static asset in an older version of Angular), where there's more people with time to answer questions.

[2019-11-17 15:04] jeroenheijmans commented on #668
Could you elaborate what you mean by "SID is not informed", and possibly create a small Stackblitz example?

[2019-11-17 15:29] jeroenheijmans commented on #667
Sounds like a decent feature request to me. I'm not so sure about introducing a second argument to the method though, it feels a bit "stringly typed" and it feels odd to having to pass `null` as a first argument just to "get to" the second one. Would you agree?

PS. In then end though it'll be up to the maintainer to make the call on whether it's ready for a PR, will need to wait for him to chip i

[2019-11-17 15:41] jeroenheijmans commented on #663
Sounds like a reasonable request, To add my two cents: if we do go this way, it would be _highly confusing_ if we _only_ do `hasValidAccessToken` and not the other related methods.

On a side note, for those looking for a workaround, here's [what I do](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards/blob/e536a89d4e9e4dc2366ba7c594d79ca54bca07ca/src/app/core/auth.servi

[2019-11-17 15:47] jeroenheijmans commented on #651
You can check the source and see it's _currently_ used in two places ([in`handleSessionChanged`](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/a1652dc58e38377ce1e352feafb9656136e98fa0/projects/lib/src/oauth-service.ts#L1069) and [in `waitForSilentRefreshAfterSessionChange`](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/a1652dc58e38377ce1e352feafb9656136e98fa0/projects/lib/s

[2019-11-17 15:47] #651 closed

[2019-11-17 15:55] jeroenheijmans commented on #642
What _is_ the http error? Does it perhaps not like the CORS? Or...?

Could you try with another IDS, for example [demo.identityserver.io](https://demo.identityserver.io/)? You could clone [my sample](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards/) and try it out...

[2019-11-17 16:22] Anandharaj commented on #671
@jeroenheijmans As you told I have searched a lot, I'm not able to find a such configuration for static html file in Angular 4. If you have noticed any such configuration guide lines in online please share the link.

[2019-11-18 10:14] Andreas-Hjortland commented on #667
I think the state argument have to be a string, since that is what we pass on in the url to the OAuth server, but I agree that passing null as the first argument is a bit silly.

Perhaps we could introduce a new type that extends `LoginOptions` like so
[code]

[2019-11-18 13:22] maxcl10 opened #673 "Add jwksUri as configuration parameter"
I'm having a CORS issue when calling the discoverDocument method (because I'm using ADFS 4.0).
Therefore I have to configure the service manually and currently I cannot set the jwks uri to https://my_adfs_url/adfs/discovery/keys. Instead I have to put the content of the file in the jwks property. Would be very convenient to be able to set the jwks uri

[2019-11-18 17:01] jeroenheijmans commented on #673
Won't the JWKS endpoint also block CORS if your IdentityServer blocks CORS for the discovery document? I mean, wouldn't you run into the exact same problem with that jwks uri?

[2019-11-18 20:36] maxcl10 commented on #673
This is possible. It depends how it is implemented. If there is a XHR request behind then you are right I'll run into the same problem.

[2019-11-18 21:01] jeroenheijmans commented on #673
Could you try in advance, see if the JWKS URI emits appropriate CORS headers for your situation? Or perhaps there's a publicly available version of your IDS where we could try?

[2019-11-19 22:22] Nick2324 opened #674 "Implementing client_credentials grant_type"
I have to use the explicit grant_type=client_credentials to use my oauth2 server.

Would it be possible that you add management for that grant_type as a new feature so that I won't do it myself in a new own service on my app?

[2019-11-20 02:01] makeshcode360 opened #675 "Logout and re-login is not actually clearing up the session and automatically logging in back"
**Describe the bug**
I am trying to integrate with Okta for Implicit grant type. I am able to login successfully. However, after I logout (I am calling authservice's logout method) and trying to log (re-login) back again, its automatically logging into my application. I noticed the login process goes through Okta and receiving a different ID token but I am not presented with the Okta login page. I

[2019-11-20 07:24] jeroenheijmans commented on #674
Don't think that makes much sense. The `client_credentials` grant is meant for _server to server_ communication, not for (Angular) SPA's. The main reason is that the `client_secret` is _super_ important in that flow, and you have no way to keep that secret in an SPA.

Think of it this way: you could _emulate_ said grant by just using the (also legacy, but supported) Resource Owner / Password flow

[2019-11-20 07:27] jeroenheijmans commented on #675
Sounds like something very specific to your setup. I recommend asking a Stack Overflow question about it, where there are more people in the community to help with questions. Either way, they/we would need a minimal repro to see the issue ourselves, otherwise we can only guess what the cause is.

[2019-11-20 11:23] makeshcode360 commented on #675
Sure, I think I fixed the problem. Thank you

[2019-11-20 11:29] mliotinoca commented on #669
Ok Jeroen, my identity server has not the check session endpoint, the discovery document comes from of B2C metadata endpoint.
My solution is to use a hidden iframe to load the logout path of the other applications.

[2019-11-20 12:21] jeroenheijmans commented on #493
I confirmed this bug using [my sample repo](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards) after disabling [the very same `clearHashAfterLogin = true` workaround](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards/blob/e536a89d4e9e4dc2366ba7c594d79ca54bca07ca/src/app/core/auth-config.ts#L13).

I also confirmed that adding the extra check f

[2019-11-20 12:31] jeroenheijmans commented on #669
Ok good to hear you've found a workaround, thanks for sharing!

[2019-11-20 12:31] #669 closed

[2019-11-20 12:31] #675 closed

[2019-11-20 12:36] jeroenheijmans opened #677 "Consider normalizing spacing and other code style issues"
Many PRs seem to include changes to whitespace, probably because VSCode plugins for many folks auto-fix files (based on the given config) when they only update one or two lines. For example in my own [recent PR](https://github.com/manfredsteyer/angular-oauth2-oidc/pull/676) many whitespace changes were silently made by VSCode (with only relevant plugins being TSLint and EditorConfig) based on the

[2019-11-21 13:59] ddhille commented on #511
Sorry for answering this old thread, it's still open. Maybe I can clarify things:

@orditeck I just ran into the same issue. Same configuration, no access_token.
`TypeError: Cannot read property 'words' of undefined`.

Thoroughly debugged @manfredsteyer 's code; was wondering why the JwksValidationHandler is missing the jwks object though it has been loaded.

Facepalm: I initialized the JwksValida

[2019-11-21 18:30] coltonneil commented on #511
@ddhille

We actually switched to using access tokens so this no longer effects us, but yes in the implementation I laid out above, we were simply skipping it because I believed that the JwksValidationHandler was only validating access tokens and we were using id tokens.

New implementation:
auth.config.ts
[code]

app.component.ts
[code]

auth.service.ts
[code]

We aren't using a validation handle

[2019-11-22 08:50] qhuangq opened #678 "Add fetch id token event"
I have a requirement that I need add an event before send fetch id token POST request, so that I can handle my UI view, such as showing a loader, because request the /token endpoint would probably take some long time to process.

[2019-11-22 10:50] jeroenheijmans commented on #678
Not sure what your question or request here is? You have all the regular tools available: http interceptors in Angular, overriding protected methods, subscribing to events in this library. For example, you can track [my sample approach for a Loading overlay](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards/blob/e536a89d4e9e4dc2366ba7c594d79ca54bca07ca/src/app/app.compo

[2019-11-22 13:20] mannbavara opened #679 "How to enable cross origin in requests to Identity Server ?"
How to enable cross origin header in requests to Identity Server ? Since Identity Server blocks request due to CORS policy.

[2019-11-22 13:40] mannbavara commented on #646
@urdarinda It may be due to Jwks Tokenvalidator, Since you using

`     this.oauthService.tokenValidationHandler = new JwksValidationHandler();`

You need specify your token format or skip JwksValidatorHandler

[2019-11-22 14:54] jeroenheijmans commented on #679
CORS is something you have to configure on the server, see e.g. [instructions for IdentityServer4](http://docs.identityserver.io/en/latest/topics/cors.html). You don't mention any relevant details so I don't think we can do much here in the GitHub repo of a client side library...

[2019-11-22 17:46] qhuangq commented on #678
I means when I'm using code flow, there are two steps calls.  After the first call (/authorize endpoint) response back and redirect to the redirection url, angular will reload the component, so that the loader will disappear, at the same time the the second call (/token endpoint) has not completed yet. Then If I have a event before the second call, then I can emit the loader work again.

[2019-11-22 19:22] jeroenheijmans commented on #678
Ok, I sort off understand. But then one of the mentioned approaches should work, non? Not sure what else to add...

[2019-11-23 02:57] qhuangq commented on #678
It's working like the following:

**in library: oauth-service.ts**
[code]
**in client: authentication.service.ts**
[code]
I believe this event is necessary between the two calls, as it's most probably has a long time to retrieve the token back.

[2019-11-25 06:39] zentoaku commented on #671
You need to put it in the "assets", example config file:
[code]

[2019-11-26 06:17] mannbavara commented on #679
@jeroenheijmans Can have option where we can add header to htto request for Allowing Cross Origin.

Just like proxy config [Proxy Config for Backend](https://github.com/angular/angular-cli/blob/master/docs/documentation/stories/proxy.md)
where there is option for ChangeOrigin

[code]

[2019-11-26 09:30] jeroenheijmans commented on #679
I'm no expert, but I don't think that's how it works. Instead, I presume it works like this:

1. Your browser will do an `OPTIONS` request to the URL
2. The server responds to the browser with CORS-related response headers, helping the browser identify the origins from which it should allow requests to that server
3. The browser (if supported) might respect these restrictions, and based on it deci

[2019-11-26 14:26] muralisambu opened #680 "Maintain state and redirect after login"
I have 4 views in spa out of which two are protected, when I try to access to protected view its redirecting to login and after redirect the state is not maintained for implicit flow? I am checking in the guard?

ex:

[code]

and in the call back page not able to get the state and getting error as jwks.

In the call back page I call the `trylogin` method to access the state.

![image](https://user

[2019-11-27 12:51] tech-sam commented on #628
Hi @jeroenheijmans ,I am also facing the same issue posted by @jfyne regarding base64 encoding using with using Ory Hydra as my identity provider
[code]

can we have a solution for this as PR already raised by @jfyne
@jfyne thanks for the PR and mentioning the details

[2019-11-30 09:17] MichaelPruefer commented on #679
A very "open" solution would be to set following in ConfigureServices method in the Startup.cs of your identity server application
`
services.AddCors(options => options.AddPolicy("AllowAll", p => p.AllowAnyOrigin()
			   .AllowAnyMethod()
			   .AllowAnyHeader()));
`
And later on use
`
app.UseCors("AllowAll");
`
in Configure method

[2019-12-03 10:06] manfredsteyer opened #682 "code flow + refresh"
Seems like, we are using password flow when refreshing token with code flow.

[2019-12-03 16:21] domsew commented on #611
Thanks for response. I close issue, because I couldn't reproduce the problem and I have not observed this in a month.

[2019-12-03 16:21] #611 closed

[2019-12-04 12:41] maxcl10 commented on #673
I checked and I also get a CORS issue when getting the keys. Therefore I'm stuck. However, by adding a jwks_uri option, I could workaround the issue by proxying the keys file.

[2019-12-04 14:24] nk6 commented on #646
We have the same setup for our project and after some of the same errors you guys mentioned, the refresh token is working for us.
The only things we needed were defining the `offline_access` scope and using the `setupAutomaticSilentRefresh` method.

Importend to note is propably the order, in which the methods are called:

[code]

[2019-12-05 09:38] uklimaschewski opened #683 "Refresh timer not started after page reload"
When using spring boot authentication server with password flow, there is no id token sent from the server. If now the page is reloaded after a successful login, the token refresh timer does not start.
After debugging into the library, the following line in `setupRefreshTimer()` seems to cause the problem:
https://github.com/manfredsteyer/angular-oauth2-oidc/blob/a1652dc58e38377ce1e352feafb9656136

[2019-12-06 03:36] LalindaSampath commented on #133
Let's say that we haven't received the token. How to capture that scenario here ?

[2019-12-06 08:41] fletcheri commented on #683
Agree this resolves the issue for me

[2019-12-09 09:14] Maximaximum commented on #616
@manfredsteyer @jeroenheijmans is this project still being maintained? Could you please review and merge outstanding PRs like this and release a new version? Do you need any help?

[2019-12-09 10:40] jeroenheijmans commented on #616
I moderate issues and tend to post insights on PRs if I have any. At the moment I don't do merging, releasing, etc. AFAIK Manfred does so only whenever a new major Angular version comes out.

[2019-12-09 15:18] shawzhang commented on #608
what about token and userinfo URL?
Are they need to be :
https://cognito-idp.{region}.amazonaws.com/{userPoolId}/token
https://cognito-idp.{region}.amazonaws.com/{userPoolId}/userinfo
?
As I am getting CORS error on token URL as well.

[2019-12-13 10:43] gerbermichi commented on #494
Does anyone have experience with the userinfo endpoint?
The following code leads to a 401 - "Access token validation failure. Invalid audience."
`oauthService.loadUserProfile().then(u => console.log(u));`

[2019-12-13 22:55] maplion commented on #560
@Jurabek Could you elaborate?  I'm still having similar issues.

[2019-12-13 23:10] maplion commented on #560
@rajuldixit Did you ever get this resolved?  Your problems seem to echo mine.

[2019-12-13 23:48] maplion commented on #560
I was able to have some success by following @Jurabek and putting that script in the index.html and then setting my silentRefreshRedirectUri equal to my redirectUri.  I am still unable to get setupAutomaticSilentRefresh() to work at all (tried to test by lowering the timeoutFactor to a few seconds), but I can do the manual way with my own timer.

[2019-12-14 07:43] LamboYu commented on #682
Another similar issue with **code flow + refresh**, when _useHttpBasicAuth_ is set to true, refreshToken() doesn't consider this flag and it always appends client-id and client-secret to params instead of headers in BasicAuth. Need to perform a check on  _useHttpBasicAuth_ flag here.

[2019-12-14 16:26] Jurabek commented on #560
@maplion
Here is check it out your config:
First step:
`function getClientSettings(): UserManagerSettings {
  return {
      authority: environment.identityUrl,
      client_id: 'dashboard-spa',
      redirect_uri: window.location.origin + '/auth-callback',
      post_logout_redirect_uri: window.location.origin,
      response_type: 'id_token token',
      scope: 'openid profile menu-api order-api

[2019-12-16 10:15] kathrinkuenzli commented on #330
I have the same issue with version 8.04. We do not use the HashLocationStrategy.

[2019-12-16 10:22] jeroenheijmans commented on #330
Please open a fresh issue with a repro using the latest library (e.g. on StackBlitz). Maybe a community member (I myself have no keycloak set up) will spot your issue and share a solution.

[2019-12-16 21:10] maplion commented on #560
@Jurabek Thanks for that.  Is there a reason I need to use the silent-refresh.html?  I was able to get the token to refresh by adding the script changes to the index.html and setting my silent redirect url to the same as my redirect url.  I don't know if that would have any unintended consequences, but it seems to work.

[2019-12-16 21:28] jeroenheijmans commented on #560
You can use `index.html` but you need to be careful not to bootstrap your Angular application if the file is loaded inside an iframe for silent refresh purposes. Otherwise you might get recursive iframes, because the index.html loads another instance of your app that kicks off silent-refresh inside an iframe, that loads another index.html.....etc etc

[2019-12-16 22:36] maplion commented on #560
@jeroenheijmans Thank you for the info.  It seems the setup of having silent-refresh.html in assets prevents one from testing locally unless you do a full build and run an http-server.  Is there a way to set it up so you can still test on localhost with an ng serve?

[2019-12-17 07:18] maplion commented on #560
@jeroenheijmans This is a challenge.  I managed to get it working the "correct" way using a silent-refresh.html, but now when I refresh, I get exactly what you warned about that I should have run into using the index.html, meaning that I end up with recusrive iframes.  Here's my current config setup:

[code]
I do not have anything in index.html and I am using `this.oauthService.setupAutomaticSilen

[2019-12-17 08:19] jeroenheijmans commented on #560
I believe angular dev server will serve index.html as a fallback if it can't properly find a file, so it might be trying to load silent-refresh.html on the wrong path. That typically happens if you have a mistake in the config. And you are doing some funky `if`/`else` things there...

As far as I know that kind of logic is not needed. Assets are usually copied to the root of the project when build

[2019-12-17 09:17] maplion commented on #560
@jeroenheijmans I really appreciate your assistance.  Your repo example really helped me piece together what I was missing.  I think I finally got it working properly.  You were correct: it was doing an infinite loop because it wasn't finding the file and was being redirected back to index.html.  The reason it wasn't finding the file was because I had moved it into assets and back out and when I m

[2019-12-17 10:37] jeroenheijmans commented on #560
I see no infinite loops in my sample or in my production application anymore, so assuming it is something specific to your setup. You'll have to debug on your end I'm afraid. One tip to do so would be to possibly serve a dev build with a server that gives 404s for not found files, to prevent it from falling back to index.html and causing the infinite loop.

Hoping your questions are answered (even

[2019-12-17 15:43] Taats opened #686 "How to start flow for ChangePassword and EditProfile?"
Hallo, I've succesfully implemented a solution to sign in (and out) using this library but now i want to implement the option to change the user password and to edit the profile. I've added both flows in Azure B2C but I cant figure out how i am suppose to access those flows.

Can anyone advice me on this?

TIA

[2019-12-17 16:36] bspire opened #687 "OAuthService.storeAccessTokenResponse(): ERROR TypeError: grantedScopes.split is not a function"
I am getting the following error when the access token is stored:

This happens because at this line grantedScopes is assumed to be a string which is in fact an array in my case:

![granted_scopes](https://user-images.githubusercontent.com/24420694/71015309-ab38f580-20f3-11ea-8cad-606d2c6c21ca.jpg)

Here is my configuration:

[code]

I use angular-oauth2-oidc version 8.0.4.

Best regards,
Stefan

[2019-12-17 16:36] jeroenheijmans commented on #686
As far as I know those are not standard OAuth2 or OpenIDConnect flows, and this library has no features to support those. You will have to use another lib or roll your own solution.

[2019-12-17 17:00] maplion commented on #560
@jeroenheijmans  Yes, I was going to mention that, but as far as my issue is concerned, I think I am good, so thanks again.  @rajuldixit did you get your problem resolved?  Can this be closed?

[2019-12-17 17:41] maplion commented on #560
@jeroenheijmans FYI: I was able to resolve the infinite loop issue.  I think it was caused by my `{ path: '**', redirectTo: '' }` route, which on reload, sometimes the page wouldn't find the path fast enough (not sure why), but by making this instead:
[code]
I was able to make it error in the background when it tried unsuccessfullly instead of run the loop.

[2019-12-18 07:25] Taats commented on #686
Dank je Jeroen, I was affraid that was going to be the answer.

Thanks for the quick response!

[2019-12-18 18:36] tonytoranzo opened #688 "refresh with code flow"
When useHttpBasicAuth is set to true, refreshToken() doesn't consider this flag and it always appends client-id and client-secret to params instead of headers in BasicAuth.

Thanks

[2019-12-19 19:22] sathoril opened #689 "Require HTTPS config not working"
**Describe the bug**
When I access my SPA Client login page, I get this following error:

![image](https://user-images.githubusercontent.com/29286540/71202694-7ce62200-227b-11ea-84bb-b334f465ca43.png)

I see that my client is asking to my issuer url be configured in https, but I configured on my AuthConfig to not require HTTPs. This is my auth.config.ts:

`import { AuthConfig } from 'angular-oauth

[2019-12-20 12:27] gunars-skangals commented on #571
looks like the same issue as in https://github.com/IdentityModel/oidc-client-js/issues/696
silent refresh fails if app and auth server are in different security zones (under Internet Options -> Security)

[2019-12-20 14:35] timbersoen commented on #670
@jeroenheijmans you could just create your own implementation of the JwksValidationHandler, and assign an instance of it to the `.tokenValidationHandler` property of your OAuthService instance.

[2019-12-20 17:39] Gerrit-K commented on #670
@timbersoen I'm a bit confused by your comment (was it meant to be addressed to me as a general solution to the issue?). Of course I could create my own implementation and monkey-patch the fix in myself. I can also fork the whole project and fix it (which is what we actually did for the meantime) but that defeats the general purpose of a software library. My request is to implement features that a

[2019-12-25 11:12] lamnv5490 commented on #657
![oidc-popup](https://user-images.githubusercontent.com/15820026/71444121-c209c880-2741-11ea-94f3-ff41287df194.png)

Hi guys, I read the issue above. Is this reason why **initImplicitFlowInPopup** doesn't work.
I am trying to implement that case but the data from popup always **undefined**. In other case, Silent Refresh works perfectly for me

[2019-12-25 15:26] JohannesHoppe opened #691 "Info around Chrome's SameSite Cookie Changes and changes you may need to your Authentication server"
**This is not a bug or an issue on this client side library itself**, but will still have high impact for many people using the silent token refresh.

Please read this:
https://www.thinktecture.com/identity/samesite/prepare-your-identityserver/

Chrome will soon (February 2020) change its default behavior of handling cookies. In the future it will require the SameSite flag to be set explicitly to

[2019-12-26 10:14] zhteh opened #692 "Session check for code flow does not work"
**Describe the bug**

Hi,

I'm implementing code flow on angular and is trying to get the check session to work.
I have set **sessionChecksEnabled** to true and I get a warning message in the console saying **sessionChecksEnabled is activated but there is no session_state**.

I've scanned through **initCodeFlow** function and found out that storeSessionState were never called, does that mean sessi

[2019-12-30 09:39] lukaszreszke93 commented on #458
I am having similar issue. The difference is that in my case silent refresh is working fine until tab is in the background (second tab is active).

[2019-12-31 10:45] manfredsteyer commented on #691
Hi Johannes,

can we do sth. about this in our library? For me it looks like this needs to be adjusted on server side/ in the auth server, right?

Best wishes,
Manfred

[2019-12-31 10:47] manfredsteyer commented on #689
Hi,

It's a restriction of the browser. If you load a page via https (your SPA), you cannot use other resources not using HTTPS.

Best wishes,
Manfred

[2019-12-31 10:47] #689 closed

[2019-12-31 10:51] JohannesHoppe commented on #691
Correct. But I would add some disclaimer in the README, to avoid unnecessary issues.

[2019-12-31 13:17] jeroenheijmans commented on #691
A disclaimer to the README could be, but I guess this issue itself can also serve as a good point for folks to channel their questions and to close possible duplicate issues.

I've taken the liberty to reword your title and original post slightly @JohannesHoppe so the top level post clearly describes (as Manfred mentions) that this issue is here as an announcement, and for people to share anything

[2019-12-31 13:35] JohannesHoppe commented on #691
That's a good solution. Happy New Year! 🎆

[2020-01-01 10:20] jeboersema opened #694 "silent_refresh throws an error and then timeout"
I have recently upgraded my solution to Angular 8. Now when the silent refresh is started, an exception is thrown in the oidc module **(see screen capture)** and then the silent refresh timeout.

If I call the .silentRefresh() myself, it does not fail and the token is successfully refreshed.

I am using ImplicitFlow.

Yes the silent_refresh.html is added as an asset and present in the dist folder.

[2020-01-01 22:56] jeroenheijmans commented on #694
AFAIK there's nothing specific to the upgrade and silent refreshes, other than possibly how assets are served.

Without a full repro of your scenario it's hard to tell what the problem is. Could you reduce your scenario to a minimal one and share it (e.g. on StackBlitz)? Then others from the community might more easily be able to help.

You could also compare your code to my [sample implementation

[2020-01-02 09:00] jeboersema commented on #694
I have found what is causing the problem.

The call to **setupAutomaticSilentRefresh** cannot have the first parameter as null.
   It should be **{ }** according to your code.

Maybe you could change the code to check for a null.

Closing the issue.

[2020-01-02 09:00] #694 closed

[2020-01-06 14:17] InDieTasten commented on #218
For anyone coming across this, I just figured out I accidentally called setupAutomaticSilentRenew twice, which caused the race condition on the first of the two renewal requests to fail due to the mentioned 'race condition'.

And since I don't see any obvious use cases for calling it twice, maybe the second call to this function should be no-op? Or maybe throw 'already setup' error?

[2020-01-09 08:04] guoweizhang536 opened #695 "How to use this lib in APP_INITIALIZER"
**Describe the bug**
We want to use this lib in angular7 better in APP_INITIALIZER process, is there any guide or sample for this, many thanks.

Our idea is when in app initializing process
1. call tryLogin
2. see if there hasValidAccessToken,
2.1 no valid token -- call the initImplicitFlow
3. call tryLogin  again

**Stackblitz example**
Provide a minimal [stackblitz](https://stackblitz.com/) base

[2020-01-10 07:45] SimonDever commented on #695
What reason is there to to them that early. It would be better to perform those functions inside the AppComponent, not in an APP_INITIALIZER factory function. You might use APP_INITIALIZER to obtain the configuration before your OAuthModule is configured and AppComponent is initialized but you do not perform the rest of the functions in there.

- https://github.com/manfredsteyer/angular-oauth2-oid

[2020-01-10 09:56] jeroenheijmans commented on #695
Please also check #606 and #607 - asynchronous APP_INITIALIZERs in combination with this library do not work too well. I recommend avoiding them, and keeping your initializer simple and synchronous.

To provide you with an alternative: I recommend [the approach I take in my sample app](https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards) where the asynchronous logic for l

[2020-01-10 11:03] #679 closed

[2020-01-13 12:20] MaciejWierzchowski opened #696 "React to missing/expired token in DefaultOAuthInterceptor"
### Problem description
Every now and then we get 401 errors in our backend when using this library. We handle the errors correctly and redirect the user to login page. That said, the request doesn't make sense in the first place as the token must be expired or not present.
I think this can happen when the cookie to identity server expires. The silent refresh then doesn't work and then we send exp

[2020-01-13 12:59] jeroenheijmans commented on #696
Not sure what you're proposing here, shouldn't retries/login choices be mostly an _application_ concern, less a _library_ concern?

Also: #414 and #429 may be of interest to you.

In our application, if silent refresh fails you're prompted to log in, and if you get 401s a silent refresh is tried (and you're prompted to login if it fails).

[2020-01-13 13:41] MaciejWierzchowski commented on #696
I agree that this is application concern, thus I want to be able to pass a function to react to this (instead of having auto redirect or auto refresh in this lib).

When you write that in your application when the app get's 401 the app does a silent refresh- What I would like get from the library is some kind of extension point, so I can react (e.g. do the silent refresh) *before* the request is s

[2020-01-13 14:56] jeroenheijmans commented on #696
The extension point for this is already provided by Angular I think, you can register your own [HttpInterceptor](https://angular.io/guide/http#http-interceptors) to do this. And if you _really_ must get specific, you could omit setting `sendAccessToken` on `OAuthModuleConfig` and create a fork of [the default interceptor](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/master/projects/li

[2020-01-14 07:02] yelhouti opened #697 "silentRefresh timeout should be done outside angular for protractor..."
**Describe the bug**
Protractor hangs for 20 seconds when using `oauthService.silentRefresh()` because delay is run inside angular zone.
It should run outside angular zone.
 Here is the culprit: https://github.com/manfredsteyer/angular-oauth2-oidc/blob/01b4f20fe72a246f13e239b05126f9bee9c0982f/projects/lib/src/oauth-service.ts#L902

[2020-01-14 07:07] cojocaru-dragos-alexandru commented on #337
For me, in the angular routes (the home route), commenting out the following line seems to have fixed the problem:

{
		path: '',
		component: HomeComponent,
		pathMatch: 'full',
		//**data: { state: 'home' }**
	}

[2020-01-14 16:09] jeroenheijmans commented on #697
Hmm, that would certainly be a bug. But weirdly, I do not see this behavior in my own production repository.

The code you link does `race` the `timeout` against success and errors. Are you sure that the silent refresh isn't just broken in your scenario?

Could you help us establish a minimal repro?

[2020-01-15 17:00] EvgenijMerchansky opened #698 "cannot login with initImplicitFlow"
Hi, I have trouble with login by `initImplicitFlow()` call

**config:**

[code]

**app.component.ts:**

[code]

Also `OAuthModule` connected in app.module.ts.

**login.component.ts:**

[code]

**VS logs**:

[code]

Please, can help me?

[2020-01-16 14:21] linjie997 commented on #698
Looks like a CORS issue:
[code]

Did you add `http://localhost:4200` to the allowed urls on your server?

[2020-01-16 14:29] EvgenijMerchansky commented on #698
@linjie997 , sure
<img width="679" alt="x1" src="https://user-images.githubusercontent.com/21433279/72533150-5963c680-387d-11ea-8f23-8d498d377ed9.png">
<img width="673" alt="x2" src="https://user-images.githubusercontent.com/21433279/72533151-5963c680-387d-11ea-851a-21d6b67d2c5a.png">

[2020-01-16 14:41] linjie997 commented on #698
Do you mind trying out adding `http://localhost:4200*`?

[2020-01-16 15:14] EvgenijMerchansky commented on #698
@linjie997 , just with * ?

[2020-01-16 15:20] linjie997 commented on #698
Yes

[2020-01-16 15:28] EvgenijMerchansky commented on #698
@linjie997 , the same :(
![image](https://user-images.githubusercontent.com/21433279/72537838-7f8d6480-3885-11ea-8752-d045dc1e1d3a.png)

[2020-01-16 15:51] jeroenheijmans commented on #698
The message "Showing login" suggests that IdentityServer4 is trying to show your user a login page, because they're not logged in yet. That can be an expected part of `initImplicitFlow()` I think, and I presume you do see an actual login page, right?

First things first, I recommend that you tweak your Angular app to talk to https://demo.identityserver.io/ instead of your own issuer. You'll have t

[2020-01-16 16:09] EvgenijMerchansky commented on #698
@jeroenheijmans, no (
this is result after login:
`https://localhost:44303/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fresponse_type%3Did_token%2520token%26client_id%3Dclient_id_js%26state%3Dg9zbihfdKWlduwF6MGgo6Z3FQ-EpU2ZLVFp58NweAxhya%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A4200%252Fprivate%26scope%3Dopenid%2520ApiOne%26nonce%3Dg9zbihfdKWlduwF6MGgo6Z3FQ-EpU2ZLVFp58NweAx

[2020-01-16 16:18] EvanChilds commented on #650
Did you ever find a solution to this? I'm running into this issue as well.

[2020-01-17 11:31] R366Y opened #699 "AuthConfig is null when calling OAuthService.silentRefresh()"
I'm not sure if this is a bug or a wrong configuration in AuthConfig.
I have an Angular application that authenticate towards **Windows ADFS 2016** using Open Id Connect. The application retrieves access token and id token via **implicit flow** and it works fine. Problem comes when I try to refresh the token using **silentRefresh()** as described in the documentation: https://manfredsteyer.github.

[2020-01-17 11:52] yelhouti commented on #697
@jeroenheijmans sorry for the delay here is a stackblitz,
https://stackblitz.com/edit/angular-zvh1ct?file=src%2Fapp%2Fapp.module.ts

[2020-01-17 13:37] lunaboona opened #700 "Angular Services get re-instantiated after silent refresh"
**Describe the bug**
Whenever a silent refresh happens (implicit flow) automatically or manually, all of my services are destroyed (I believe) and constructed again. Is this normal? If so, why is it necessary and is there a way to stop it from happening?

**To Reproduce**
Steps to reproduce the behavior:
1. Have an Angular Service
2. Force silent refresh

**Desktop (please complete the following i

[2020-01-17 15:15] lunaboona commented on #700
To clarify, this is an issue for me because I have a service responsible for notifications in my app, and whenever it's started, it opens a new WebSocket connection. This causes it to fetch pending notifications again, so all of my notifications get duplicated.

[2020-01-17 17:53] lunaboona commented on #700
Closing this issue as I've figured out what the problem was. I was missing the `silent-refresh.html` file.

[2020-01-17 17:53] #700 closed

[2020-01-17 18:34] mreschke opened #701 "Multiple API Logins and Tokens"
I am using FusionAuth as my OICD provider.  I have 3 Angular Apps along with  3 separate APIs (call them Tools, Accounts, and CRM).

All 3 angular apps need to actually query all 3 APIs.  If I visit the Tools Angular app, use OICD against FusionAuth to get my JWT, the JWT that comes back is for Tools only.  It has the Tools app ID, it has the "roles" in relation to the Tools app.  When angular hit

[2020-01-17 23:59] Gavi07 commented on #473
Hi, did you find any solution?

[2020-01-18 02:53] mreschke commented on #701
I am referring to Option #3 in this amazing article which explains these complex issues perfectly. https://www.pingidentity.com/en/company/blog/posts/2019/oauth2-access-token-multiple-resources-usage-strategies.html

[2020-01-18 17:51] dalu commented on #473
I'm on my phone and don't have access to the private repo right now, dear. I believe I handled it in the server. If no activity for a certain amount of time assume client is inactive. But I hope I won't forget looking it up and getting back at you.

[2020-01-18 19:51] jeroenheijmans commented on #699
Thx for the excellent and clearly described issue! I am afraid that at first sight I don't see anything wrong with your approach, and the outcome you describe does seem odd to me.

It could help if you could make the example even more complete, and e.g. put it on StackBlitz possibly talking to a public demo server (e.g. demo.identityserver.io) - maybe then a community member can spot the problem?

[2020-01-18 20:05] jeroenheijmans commented on #697
I think you need to add `"src/silent-renew.html",` to your `assets` in `angular.json` (and restart `ng serve` completely).

What happens now is that the iframe is loaded and your server (e.g. the default `ng serve` server) will provide you with a fallback page

[2020-01-18 20:13] jeroenheijmans commented on #701
I'm not sure if this library's issues list is the greatest place to ask this question, given the typical volume and type of interactions I see here. For a good answer I recommend sparring with a colleague or consultant, or possibly turning to a forum with a broader audience.

What is best really depends on the specific of your situation, and your security requirements. Different applications and d

[2020-01-20 03:16] sumitag commented on #425
replying on an old issue/thread! @jeroenheijmans at the moment I am using the convenience function loadDiscoveryDocumentAndLogin(), how would I apply your solution to this or would I have to stop using the convenience function. I have recreated part of my code here: https://stackblitz.com/edit/angular-tit33s

[2020-01-20 08:04] R366Y commented on #699
Hi @jeroenheijmans , thank you very much for your answer. I  try your approach as you suggested and I'll let you know the results.

[2020-01-20 10:00] MaciejWierzchowski commented on #696
Ok, I'll go this route and provide my own interceptor. Thanks!

[2020-01-20 10:00] #696 closed

[2020-01-20 10:22] Krishna7852 opened #702 "Will angular-oauth2-oidc support Angular 9?"
I'm using "**Angular-oauth2-oidc**" in angular 7, I'm planning to upgrade **angular 9**, i just want to know whether **Angular-oauth2-oidc** will support for **angular 9**?

[2020-01-20 16:45] RS-Sautter commented on #86
@manfredsteyer I found that the disableAtHashCheck is not working anymore.
One can set it to true but then, the following is happening:

    at JwksValidationHandler.<anonymous> (angular-oauth2-oidc.js:122)

This is due to a property accessor right [here](https://github.com/manfredsteyer/angular-oauth2-oidc/blob/6738d23196b90e28059488dc6a0f25ff9243be07/projects/lib/src/token-validation/validation-

[2020-01-20 18:06] lunaboona commented on #699
I'm having a similar problem where loginUrl is empty when I call silentRefresh. Upon further investigation, it seems that the _this_ reference inside _createLoginUrl_ is different (seems like a new instance of OAuthService), thus not loading the discovery document and the _loginUrl_.